
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>
.picker_calendar {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 18px;
}
</style>
<script>
	$(document).ready(function() {
		getCurrentDateMonthYear();
		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);
		viewAllApproveData();


	})
	var columnDefs = [ {
/* 		headerCheckboxSelection : true,
		headerCheckboxSelectionFilteredOnly : true,
		checkboxSelection : true,
		width : 10,
		sortable : false,
		filter : false,
		resizable : true

	}, { */
		headerName : "Employee ID",
		field : "empId",
		width : 130,
		pinned : 'left',
	}, {
		headerName : "Name",
		field : "empName",
		pinned : 'left',
		cellStyle : {
			textAlign : 'left'
		},
		width : 150,
	}, {
		headerName : "Father Name",
		field : "fatherName",
		pinned : 'left',
		cellStyle : {
			textAlign : 'left'
		},
		width : 150,
	}, {
		headerName : "DepartMent",
		field : "dept",
		cellStyle : {
			textAlign : 'left'
		},
		width : 150,
	}, {
		headerName : "Sub Department",
		field : "subDept",
		cellStyle : {
			textAlign : 'left'
		},
		width : 160,
	}, {
		headerName : "Workdays",
		field : "workDay",
		cellStyle : {
			textAlign : 'center'
		},
		width : 120,
	}, {
		headerName : "Effective Workdays",
		field : "workingDay",
		cellStyle : {
			textAlign : 'center'
		},
		width : 180,
	}, {
		headerName : "Basic",
		field : "basic",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},

	}, {
		headerName : "Hra",
		field : "hra",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},

	}, {
		headerName : "Additional Allowance",
		field : "addAll",
		width : 200,
		cellStyle : {
			textAlign : 'right'
		},

	}, {
		headerName : "LTA",
		field : "lta",
		cellStyle : {
			textAlign : 'left'
		},
		width : 120,
	}, {
		headerName : "Medical Allowance",
		field : "medical",
		cellStyle : {
			textAlign : 'left'
		},
		width : 180,
	}, {
		headerName : "Conveyance Allowance",
		field : "conve",
		width : 220,
		cellStyle : {
			textAlign : 'right'
		},
	}, {
		headerName : "Washing Allowance",
		field : "washAllow",
		width : 190,
		cellStyle : {
			textAlign : 'right'
		},
	}, {
		headerName : "Skill Development",
		field : "skillDev",
		width : 180,
		cellStyle : {
			textAlign : 'right'
		},
	}, {
		headerName : "Other",
		field : "other",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},
	}, {
		headerName : "Bonus",
		field : "bonus",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},
	}, {
		headerName : "Reward",
		field : "reward",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},
	}, {
		headerName : "Food Reimbursement",
		field : "foodReim",
		width : 200,
		cellStyle : {
			textAlign : 'right'
		},
	}, {
		headerName : "Arear",
		field : "arear",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},
	}, {
		headerName : "Over Time",
		field : "overTime",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},
	}, {
		headerName : "Total Earning",
		field : "totalEarning",
		width : 170,
		cellStyle : {
			textAlign : 'right'
		},

	}, {
		headerName : "Income Tax",
		field : "incTax",
		width : 150,
		cellStyle : {
			textAlign : 'right'
		},

	}, {

		headerName : "Epf",
		field : "empEPF",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},

	}, {
		headerName : "Esi",
		field : "empESI",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},

	}, {
		headerName : "Professional Tax",
		field : "profTax",
		width : 170,
		cellStyle : {
			textAlign : 'right'
		},

	}, {
		headerName : "Advance",
		field : "advance",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},

	}, {
		headerName : "total Deduction",
		field : "totalDeduction",
		width : 180,
		cellStyle : {
			textAlign : 'right'
		},

	}, {
		headerName : "Net Pay",
		field : "netPay",
		width : 120,
		cellStyle : {
			textAlign : 'right'
		},
	}, {
		headerName : "Employer Epf",
		field : "compEPF",
		width : 150,
		cellStyle : {
			textAlign : 'right'
		},

	}, {
		headerName : "Employer Esi",
		field : "empESI",
		width : 150,
		cellStyle : {
			textAlign : 'right'
		},

	} ];

	var gridOptions = {
		columnDefs : columnDefs,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 410,
			height : 20
		},
		rowSelection : 'multiple',
		rowMultiSelectWithClick : true,
	//onSelectionChanged : onSelectGoal
	};
	/* -------------------search bar for mygrid------------------------ */

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
}
//getCurrentDateMonthYear
function getCurrentDateMonthYear(){
	var curdate = new Date();
	var date = curdate.getDate();
	var mnth = curdate.getMonth();
	$("#attndyear").val(curdate.getFullYear())
	var sday = $("#startDayForAtten").val();
	if (parseInt(sday) > 1) {
		if (parseInt(date) > parseInt(sday)) {
			var month = (curdate.getMonth() + 1);
			var year = curdate.getFullYear();
		} else {
			var month = curdate.getMonth();
			if (month == 0) {
				var year = curdate.getFullYear() - 1;
				month = 12;
			} else {
				var month = curdate.getMonth();
				var year = curdate.getFullYear();
			}
		}
	} else {
		var month = (curdate.getMonth() + 1);
		var year = curdate.getFullYear();
	}

	var nextmonth = month + 1;
	if (parseInt(sday) > 1) {
		$("#attndmonth").val(month + 1);
	} else {
		$("#attndmonth").val(month);
	}

	var fromdate = sday + "-"
			+ String(month).padStart(2, '0') + "-" + year;
	const lastDayOfMonth = new Date(year, month, 0)
			.getDate();
	if (sday > 1) {
		if (month == "12") {
			var todate = (parseInt(sday) - 1) + "-"
					+ String(1).padStart(2, '0') + "-"
					+ (year + 1);
		} else {
			var todate = (parseInt(sday) - 1) + "-"
					+ String(nextmonth).padStart(2, '0')
					+ "-" + year;
		}
	} else {
		var todate = lastDayOfMonth + "-"
				+ String(month).padStart(2, '0') + "-"
				+ year;
	}

	$("#fromDate").val(fromdate);
	$("#fromDateCalendar").val(fromdate);
	$("#endDate").val(todate);
	$("#endDateCalendar").val(todate);
}

//viewAllApproveData
function viewAllApproveData(){
	var band = $("#designation").val();
	var fromDate = $("#fromDate").val();
	var toDate = $("#endDate").val();
	agGrid.simpleHttpRequest(
			{
				url : "view-approve-view-details?fromDate="
						+ fromDate + "&toDate=" + toDate
						+ "&band=" + band
			}).then(function(data) {
				var len = data.length;
				$('#totalReq').find('span').html(len);
		gridOptions.api.setRowData(data);
	});
}
//changeBand
function changeBand() {
	viewAllApproveData();
}
//get approve Data
function getApproveYrMtData(){
	var curdate = new Date();
	var month = $("#attndmonth").val();
	var sday = $("#startDayForAtten").val();
	var attnyear = $("#attndyear").val();
	if (parseInt(sday) > 1) {
		if (month == 1) {
			var year = attnyear - 1;
			month = 12;
		} else {
			var year = attnyear;
			month = month - 1;
		}
	} else {
		var year = attnyear;
	}

	var nextmonth = parseInt(month) + 1;

	var fromdate = sday + "-" + String(month).padStart(2, '0') + "-" + year;
	const lastDayOfMonth = new Date(year, month, 0).getDate();
	if (sday > 1) {
		if (month == "12") {
			var todate = (parseInt(sday) - 1) + "-"
					+ String(1).padStart(2, '0') + "-" + (year + 1);
		} else {
			var todate = (parseInt(sday) - 1) + "-"
					+ String(nextmonth).padStart(2, '0') + "-" + year;
		}
	} else {
		var todate = lastDayOfMonth + "-" + String(month).padStart(2, '0')
				+ "-" + year;
	}

	$("#fromDate").val(fromdate);
	$("#fromDateCalendar").val(fromdate);
	$("#endDate").val(todate);
	$("#endDateCalendar").val(todate);
}
//changeMonthYear
function changeMonthYear(){
		var curdate = new Date();
		var attnyear = $("#attndyear").val();
		var month = $("#attndmonth").val();
		var date = curdate.getDate();
		var mnth = curdate.getMonth();
		var sday = $("#startDayForAtten").val();
		var mt=month-1;
	if(attnyear>curdate.getFullYear()){
			$("#messageParagraph").text("Please Choose Current Year Or Previous Year!");
			$("#msgOkModal").removeClass("btn3");
			$("#msgOkModal").addClass("btn1");
			$("#msgModal").modal('show');
			$("#attndyear").val(curdate.getFullYear())
			getCurrentDateMonthYear();
			viewAllApproveData();
	}else{	
		if(attnyear==curdate.getFullYear()){
		if(mt>curdate.getMonth()){
			$("#messageParagraph").text("Please Choose Current month Or Previous Month!");
			$("#msgOkModal").removeClass("btn3");
			$("#msgOkModal").addClass("btn1");
			$("#msgModal").modal('show');	

			if (parseInt(sday) > 1) {
				if (parseInt(date) > parseInt(sday)) {
					var month = (curdate.getMonth() + 1);
					var year = attnyear;
				} else {
					var month = curdate.getMonth();
					if (month == 0) {
						var year = attnyear - 1;
						month = 12;
					} else {
						var month = curdate.getMonth();
						var year = attnyear;
					}
				}
			} else {
				var month = (curdate.getMonth() + 1);
				var year = attnyear;
			}

			var nextmonth = month + 1;
			if (parseInt(sday) > 1) {
				$("#attndmonth").val(month + 1);
			} else {
				$("#attndmonth").val(month);
			}

			var fromdate = sday + "-"
					+ String(month).padStart(2, '0') + "-" + year;
			const lastDayOfMonth = new Date(year, month, 0)
					.getDate();
			if (sday > 1) {
				if (month == "12") {
					var todate = (parseInt(sday) - 1) + "-"
							+ String(1).padStart(2, '0') + "-"
							+ (year + 1);
				} else {
					var todate = (parseInt(sday) - 1) + "-"
							+ String(nextmonth).padStart(2, '0')
							+ "-" + year;
				}
			} else { 
				var todate = lastDayOfMonth + "-"
						+ String(month).padStart(2, '0') + "-"
						+ year;
			}

			$("#fromDate").val(fromdate);
			$("#fromDateCalendar").val(fromdate);
			$("#endDate").val(todate);
			$("#endDateCalendar").val(todate);
		}else{
				getApproveYrMtData();
				viewAllApproveData();
			}
		}else{
			getApproveYrMtData();
			viewAllApproveData();
		}
	}
}

	function downloadApproveCSV() {
		var dataset = [];
		gridOptions.api.forEachNodeAfterFilterAndSort(function(rowNode, index) {
			dataset.push(rowNode.data);
		});
		gridOptions.api.exportDataAsCsv(dataset);
	}
</script>
</head>
<body>

	<div layout:fragment="content">
		<div class="content-wrap">
			<div class="container-fluid">
				<div class="maincontent">
					<div class="row">

						<div class="maincontentsec">
							<div class="content_padding">

								<div id="main_content">

									<div class="panel-body">
										<div class="row">

											<div class="col-md-4 btn-hs1">
												<div class="font-design"></div>
											</div>
											<!-- <div class="col-md-8 butttonsec">

												<button class="btn1" id="save" onclick="Approve()">Approve</button>
											</div> -->
										</div>
										<div class="row">
											<input type="hidden" id="startDayForAtten"
												th:value="${startDayForAtten}" />
											<div class="col-md-3">
												<div class="form-group">
												<label>Band Name</label>
													<div class="select">
														<select id=designation class="form-control"
															onchange="changeBand()">
															<option value="">--SELECT--</option>
															<option th:each="c,iter:${bandType}" th:value="${c.key}"
																th:text="${c.name}"></option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<label>Year</label>
													<div class="select">
														<select id="attndyear" class="form-control" onchange="changeMonthYear()">
															<option th:each="c,iter:${yearList}" th:value="${c.name}"
																th:text="${c.name}"></option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
												<label>Month Name</label>
													<div class="select">
														<select id="attndmonth" class="form-control"
															onchange="changeMonthYear()">
															<!-- <option value="">--SELECT--</option> -->
															<option value="1">JANUARY</option>
															<option value="2">FEBRUARY</option>
															<option value="3">MARCH</option>
															<option value="4">APRIL</option>
															<option value="5">MAY</option>
															<option value="6">JUNE</option>
															<option value="7">JULY</option>
															<option value="8">AUGUST</option>
															<option value="9">SEPTEMBER</option>
															<option value="10">OCTOBER</option>
															<option value="11">NOVEMBER</option>
															<option value="12">DECEMBER</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-2">
											<label>From Date</label>
												<div class="form-group calendar_box">
													<input type="text" id="fromDate" value=""
														class="form-control"
														th:attr="onkeyup=|formatDate('fromDate','${session.DATEFORMAT_JS}')|"
														readonly> <!-- <i class="ti-calendar picker_calendar"
														id="fromDateCalendar"></i> -->
												</div>
											</div>
											<div class="col-md-2">
											  <label>To Date</label>
												<div class="form-group calendar_box">
													<input type="text" id="endDate" value=""
														class="form-control"
														th:attr="onkeyup=|formatDate('endDate','${session.DATEFORMAT_JS}')|"
														readonly> <!-- <i class="ti-calendar picker_calendar"
														id="endDateCalendar"></i> -->
												</div>
											</div>

										</div>
										<div class="d-flex justify-content-between mt-4">
											<div class="btn-hs">
												<div class="font-design" id="totalReq">
													Employee Approve Details(<span></span>)
												</div>
											</div>
											<div id="searchRowDiv">
												<div class="input-style">
													<input type="text" placeholder="Search.." name="search"
														class="searchboxinput" onkeyup="cancelBar()"
														oninput="onQuickFilterChanged()" id="quickFilter"
														autocomplete="off">
													<div class="searchicon">
														<a href="javascript:void(0)"><span
															style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
															id="closeKey"
															onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
															class="close_i"><i class="ti-close srchicon"></i></span></a><a
															href="javascript:void(0)"><i
															class="ti-search srchicon"></i></a>
													</div>
												</div>
											</div>
											<div class="buttonsec btn-hs" id="btndiv">
												<button class="btn4" onclick="downloadApproveCSV()">Download</button>
											</div>
										</div>

										<div id="myGrid" style="width: 100%; height: 500px;"
											class="ag-theme-alpine"></div>

									</div>
								</div>

							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>