<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>

.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 15px;
}


.btn1 {
    border: none;
    border-radius: 4px;
    font-size: 10px;
    background-color: #5784c4;
    color: #fff!important;
    margin-left: 5px;
    margin-bottom: 8px;
    width: 156px;
    height: 28px;
    line-height: 12px;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}

.taskInfo{
	padding-left: 10px;
    color: #45166a;
}

.rating {
	float: left;
}

.rating:not(:checked)>input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
	float: right;
	width: 1em;
	padding: 0 .1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.6);
	/*  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked)>label:before {
	content: '★ ';
}

.rating>input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked)>label:hover, .rating:not(:checked)>label:hover ~
	label {
	color: black;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>input:checked+label:hover, .rating>input:checked+label:hover ~
	label, .rating>input:checked ~ label:hover, .rating>input:checked ~
	label:hover ~ label, .rating>label:hover ~ input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

.btn-outline-primary {
	color: #007bff;
	background-color: rgb(240 243 241/ 90%);
	background-image: none;
	border-color: #007bff;
	cursor: pointer;
}
.picker_calendar5 {
 cursor: pointer;
    position: absolute;
    bottom: 361px;
    left: 742px;
}
.picker_calendar6 {
    cursor: pointer;
    position: absolute;
    bottom: 361px;
    left: 1132px;
}

.newldeger-btn{
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 4px 8px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

</style>
<script>
	
	$(function() {

		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);
		
		
		gridOptions.api.setRowData("");
		agGrid.simpleHttpRequest({
			url : "purchase-voucher-view"
		}).then(function(data) {
			var len = data.length;
			$('#totalReq').find('span').html(len);

			gridOptions.api.setRowData(data);

		});
		$("#myGrid").show();
		$("#delete").attr("disabled", true);
		$("#approve").attr("disabled", true);
		$("#return").attr("disabled", true);
		$("#reject").attr("disabled", true);
		
		
		const monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];
		var weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
		var d = new Date();
		var month = monthNames[d.getMonth()+1];
		var day = d.getDate();
		var output =(day<10 ? '0' : '') + day +'-'+(month<10 ? '0' : '') + month +'-'+  d.getFullYear();
		$("#purchaseDate").text(output);
		var a = new Date(output);
		var b=weekday[a.getDay()];
		$("#purchaseDay").text(b);
		
		var gridDiv = document.querySelector('#item');
		new agGrid.Grid(gridDiv, itemOptions);
		itemOptions.api.setRowData();
		
	});
	
	function getVoucherNumber(){
		$.ajax({
			type : "GET",
			url : "receipt-voucher-vouchernumber",
			async : false,
			success : function(response) {
				if (response.message == "Success") {
					$("#purchaseNumber").text(response.body[0].key);
				}
			}
		});
		
	}	

	$(function() {
		$('.collapse').on('show.bs.collapse', function() {
			$(this).siblings('.panel-heading').addClass('active');
		});

	})
	//search bar

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}

	$('input,textarea').focus(
			function() {
				$(this).data('placeholder', $(this).attr('placeholder')).attr(
						'placeholder', '');
			}).blur(function() {
		$(this).attr('placeholder', $(this).data('placeholder'));
	});

	var count = 0;
	function allCheck() {
		count++;

		if (count == 1) {
			$('.checkCls').prop("checked", true);
		} else {
			count = 0;
			$('.checkCls').prop("checked", false);
		}
	}

	var txtLen = 0;
	function textCount(event) {

		var id = event.target.id;
		var pId = $('#' + id).next().attr("id");
		$('#' + pId + ' span').empty();
		txtLen = $('#' + id).val().length;
		$('#' + pId + ' span').append(txtLen);
	}
	
	// column Defs
		const columnDefs = 
	[
			{
				headerCheckboxSelection : false,
				headerCheckboxSelectionFilteredOnly : true,
				checkboxSelection : true,
				width : 10,
				sortable : false,
				filter : false,
				resizable : true
			},{
				headerName : 'Purchase Voucher Id',
				field : "purchaseId",
				cellRenderer : function(params) {
					return '<a onclick=editPage("'
					+ params.data.purchaseId
					+ '") href="javascript:void(0)">'
					+ params.data.purchaseId + '</a>';
				}
			},
			
			
			 {
				headerName : "Total Amount",
				field : "totalAmount",
				cellStyle : {
					textAlign : 'right'
				}
			},
			 {
				headerName : "Purchase Date",
				field : "purchaseDate",
				cellStyle : {
					textAlign : 'left'
				},
			},

			 {
				headerName : "Buyer Name",
				field : "buyerName",
				cellStyle : {
					textAlign : 'left'
				}
			},
			{
				headerName : "Seller Name",
				field : "sellerName",
				cellStyle : {
					textAlign : 'left'
				}
			},
			{
				headerName : "Customer",
				field : "customerType",
				cellStyle : {
					textAlign : 'left'
				}
			}];

	
	const gridOptions = {
			columnDefs : columnDefs,
			defaultColDef : {
				sortable : true,
				filter : true,
				resizable : true,
				width : 180,
				height : 10
			},
			rowSelection : 'single',
			suppressRowClickSelection : true,
			onSelectionChanged : rowSelect,
			getRowNodeId : function(data) {
				return data.journalVoucher;
			}

		};
	
	
	var itemDefs = [
		{
			headerCheckboxSelection : false,
			headerCheckboxSelectionFilteredOnly : true,
			checkboxSelection : true,
			width : 10,
			sortable : false,
			filter : false,
			resizable : true

		},
		{
			headerName : "SlNo",
			field : "slNo",
			width : 110,
			cellStyle : {
				textAlign : 'center'
			},
			cellRenderer : function(params) {
				if (params.data.slNo) {
					return '<a onclick=editProduct("' + params.data.slNo
							+ '") href="javascript:void(0)">'
							+ params.data.slNo + '</a>';
				} else {
					return '<a onclick=editProduct("' + params.data.slNo
							+ '") href="javascript:void(0)">'
							+ params.data.slNo + '</a>';
				}
			}
		},{

			headerName : 'HSN CODE',
			field : "hsnCode",
			width : 170,
			cellStyle : {
				textAlign : 'center'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.hsnCode 
				+ '</div>';
         	}
		},
		{
			headerName : 'Item Name',
			field : "productName",
			width : 170,
			cellStyle : {
				textAlign : 'center'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.productName 
				+ '</div>';
         	}
		},{
			headerName : 'Quantity',
			field : "qunatity",	
			width : 150,
			valueFormatter : currencyFormatter,
			cellStyle : {
				textAlign : 'center'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.qunatity 
				+ '</div>';
         	}
		}, {
			headerName : 'Unit',
			field : "unit",
			width : 180,
			cellStyle : {
				textAlign : 'right'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.unit 
				+ '</div>';
         	}
		}, {
			headerName : 'Unit Price',
			field : "unitPrice",
			width : 180,
			cellStyle : {
				textAlign : 'right'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.unitPrice 
				+ '</div>';
         	}
		},
		 {
			headerName : 'Discount',
			field : "discount",
			width : 160,
			valueFormatter : currencyFormatter,
			cellStyle : {
				textAlign : 'center'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.discount 
				+ '</div>';
         	}
		},
		 {
			headerName : 'GST Rate',
			field : "gstRate",
			width : 160,
			valueFormatter : currencyFormatter,
			cellStyle : {
				textAlign : 'center'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.gstRate 
				+ '</div>';
         	}
		}, {
			headerName : 'Amount',
			field : "amount",
			width : 188,
			cellStyle : {
				textAlign : 'right'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.amount 
				+ '</div>';
         	}
		}, {
			headerName : 'Cgst',
			field : "cgst",
			width : 188,
			cellStyle : {
				textAlign : 'right'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.cgst 
				+ '</div>';
         	}
		}, {
			headerName : 'Sgst',
			field : "sgst",
			width : 188,
			cellStyle : {
				textAlign : 'right'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.sgst 
				+ '</div>';
         	}
		}, {
			headerName : 'Igst',
			field : "igst",
			width : 188,
			cellStyle : {
				textAlign : 'right'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.igst 
				+ '</div>';
         	}
		}, {
			headerName : 'Taxable Amount',
			field : "taxAbleAmount",
			width : 188,
			cellStyle : {
				textAlign : 'right'
			},
			cellRenderer : function(params) {
				return '<div style="color:black;font-weight: bold;">'
				+ params.data.taxAbleAmount 
				+ '</div>';
         	}
		}];
	
	var itemOptions = {
			columnDefs : itemDefs,
			rowSelection : 'single',
			groupSelectsChildren : true,
			suppressRowClickSelection : true,
			suppressAggFuncInHeader : true,
			defaultColDef : {
				sortable : true,
				filter : true,
				resizable : true,
				width : 251,
				height : 10
			},
			onSelectionChanged : rowSelectItem,
			 getRowNodeId : function(data) {
				return data.slNo;
			} 
		};
	function rowSelectItem() {

		var selectedRows = itemOptions.api.getSelectedRows();
		var rowCount = 0;
		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
			
		});
		//alert(orderStatusReplace)
		
		
		if (rowCount > 0) {
			//alert(JSON.stringify(selectedRows))
			$('#delete1').attr("disabled", false);
			if(orderStatusReplace == "Delivered"){
				$('#newItem').attr("disabled", true);
				$('#replace').attr("disabled", false);
			}else{
				$('#newItem').attr("disabled", false);
				$('#replace').attr("disabled", true);
			}
			$('#addNew').attr("disabled", true);
			$("#itemId").val(selectedRows[0].categoryId);
			$("#rtnitemName").val(selectedRows[0].categoryName);
			$("#totalQty").val(selectedRows[0].quantity);
			$("#returnedQty").val(selectedRows[0].productId);
			$("#productSize").val(selectedRows[0].productDimension);
			var userRoleCheck = $('#userType').val();
			if(selectedRows[0].replaceBtnStatus){
				if(userRoleCheck == "Dealer"){
					$('#replaceDismiss').show();
					$('#replace').show();
					$('#replaceAssign').hide();
					
				}
			}
			else{
				if(userRoleCheck == "SuperAdmin"){
					$('#replaceAssign').show();
					$('#replace').hide();
					$('#replaceDismiss').hide();
				}
			}
		} else {
			$('#newItem').attr("disabled", false);
			$('#delete1').attr("disabled", true);
			$('#cancelOrderBtn').attr("disabled", true);
			$('#replace').attr("disabled", true);
			$('#addNew').attr("disabled", false);
			$('#replaceDismiss').hide();
			$('#replaceAssign').hide();
		}
	}
	var deleteId = "";
	function rowSelect() {
		//alert('hello select');
		var selectedRows = gridOptions.api.getSelectedRows();
		deleteId = "";

		for (var i = 0; i < selectedRows.length; i++) {
			deleteId = deleteId + '' + selectedRows[i].journalVoucher + ',';
			 // deleteId = deleteId  + selectedRows[i].journalVoucherId + ',';
		}
		deleteId = deleteId.substring(0, deleteId.length - 1);
		console.log(deleteId)
		var rowCount = 0;

		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			$('#delete').attr("disabled", false);
			$("#approve").attr("disabled", false);
			$("#return").attr("disabled", false);
			$("#reject").attr("disabled", false);

		} else {
			$('#delete').attr("disabled", true);
			$("#approve").attr("disabled", true);
			$("#return").attr("disabled", true);
			$("#reject").attr("disabled", true);
		}
	}
	// for new button
	function newBtn() { 
	//	alert('hello');
		
		$("#approve").hide();
		$("#return").hide();
		$("#add").hide();
		$("#copy").hide();
		$("#delete").hide();
		$("#myGrid").hide();
		$("#searchRowDiv").hide();
		$("#totalReq").hide();
		$("#statusDiv").hide();
		$("#idDiv").hide();
		$("#collapseFour").hide();
		$("#headingFour").hide();
		$("#myGridActivity").hide();

		$("#demo").show();
		getVoucherNumber();
	}
	// for cancel button
	function cancelBtn() {
		$("#add").show();
		$("#copy").show();
		$("#delete").show();
		$("#totalReq").show();
		$("#myGrid").show();
		$("#searchRowDiv").show();
		$("#demo").hide();

		$("#journalVoucher").text("");
		$('#bankName').val("");
		$('#accountHolder').val("");
		$('#branchName').val("");
		$('#accountType').val("");
		$('#accountNumber').val("");
		$('#status').val("");

		agGrid.simpleHttpRequest({
			url : "purchase-voucher-view"
		}).then(function(data) {
			gridOptions.api.setRowData(data);
		});
	}

	
	
	// Edit & stage change 
	function editPage(id) {
		
      var editId = id.split(",");
		
		var purchaseId = editId[0];
		
		var modal = editId[1];
	//	alert(id);
	
					$("#add").hide();
					$("#return").hide();
					$("#approve").hide();
					$("#copy").hide();
					$("#delete").hide();
					$("#myGrid").hide();
					$("#searchRowDiv").hide();
					$("#totalReq").hide();
					$("#statusDiv").hide();
					$("#idDiv").hide();
					$("#collapseFour").hide();
					$("#headingFour").hide();
					$("#myGridActivity").hide();
					$(".container").hide();
					$("#demo").show();	
		
	//	alert('journalVoucherId------'+journalVoucher);

		$.ajax({
			type : "GET",
			url : "purchase-voucher-edit?id=" + purchaseId,
			async : false,
			success : function(response) {
				if (response.code == "Success") {
					//console.log("response for edit------"+JSON.stringify(response));
					$('#buyerName').val(response.body[0].buyerName);
					$('#buyerId').val(response.body[0].buyerNameId);
					$('#sellerName').val(response.body[0].sellerName);
					$('#sellerNameId').val(response.body[0].sellerNameId);
					$('#orderDate').val(response.body[0].purchaseDate);
					$('#purchaseNumber').text(response.body[0].purchaseId);
					$('#subTotal').val(response.body[0].subTotal);
					$('#qSGST').val(response.body[0].sgst);
					$('#qCGST').val(response.body[0].cgst);
					$('#qIGST').val(response.body[0].igst);
					$('#grandTotal').val(response.body[0].totalAmount);
					
					itemOptions.api.setRowData(response.body[0].productList);
					
				}
			}
		})
	}

</script>
<script>
	//addVendorInfo
	

	
	function addReceiptInfo() {

	}
	function deleteJournalVoucher(){
		
		$.ajax({
			type : "GET",
			url : "view-account-journal-voucher-delete-id?id=" + deleteId,
			success : function(response) {
				if (response.code == "Success") {
					cancelBtn();
					agGrid.simpleHttpRequest({
						url : "purchase-voucher-view"
					}).then(function(data) {
						gridOptions.api.setRowData(data);
					});

				}
			}

		});
		
		$('#delete').attr("disabled", true);
		$("#approve").attr("disabled", true);
		$("#return").attr("disabled", true);
		$("#reject").attr("disabled", true);
	}
	
	
	function approveVoucher(){
		$.ajax({
			type : "GET",
			url : "view-account-journal-voucher-approve-id?id=" + deleteId,
			success : function(response) {
				if (response.code == "Success") {
					cancelBtn();
					agGrid.simpleHttpRequest({
						url : "purchase-voucher-view"
					}).then(function(data) {
						gridOptions.api.setRowData(data);
					});

				}
			}

		});
		
		$('#delete').attr("disabled", true);
		$("#approve").attr("disabled", true);
		$("#return").attr("disabled", true);
		$("#reject").attr("disabled", true);
	}
	
	function rejectVoucher(id){
		$.ajax({
			type : "GET",
			url : "view-account-journal-voucher-reject-id?id=" + deleteId,
			success : function(response) {
				if (response.code == "Success") {
					cancelBtn();
					agGrid.simpleHttpRequest({
						url : "purchase-voucher-view"
					}).then(function(data) {
						gridOptions.api.setRowData(data);
					});

				}
			}

		});
		
		$('#delete').attr("disabled", true);
		$("#approve").attr("disabled", true);
		$("#return").attr("disabled", true);
		$("#reject").attr("disabled", true);
	}
	
	
	function returnVoucher(){
		$.ajax({
			type : "GET",
			url : "view-account-journal-voucher-return-id?id=" + deleteId,
			success : function(response) {
				if (response.code == "Success") {
					cancelBtn();
					agGrid.simpleHttpRequest({
						url : "purchase-voucher-view"
					}).then(function(data) {
						gridOptions.api.setRowData(data);
					});

				}
			}

		});
		
		$('#delete').attr("disabled", true);
		$("#approve").attr("disabled", true);
		$("#return").attr("disabled", true);
		$("#reject").attr("disabled", true);
	}
	
	//view-account-journal-voucher
	
	
	function sellerNameList(id) {
		var l = id.split("_");
		var counter = l[1];	
			$.ajax({
				type : "POST",
				url : "view-account-journal-voucher-getAccountDebitGroup",
				dataType : 'json',
				contentType : 'application/json',
				data : $("#"+id).val(),
				success : function(response) {
					console.log(response);
					if (response.code == "Success") {
					if(response.body.length!=0)	{
						$("#sellerName").css("background","#FFF");
						var content = '<ul id="autocomplete-list">';
						for (var i = 0; i < response.body.length; i++) {
						content += '<li onClick="autocompleteValue1(\''+response.body[i].debAccGroupId+'\',\''+response.body[i].debitedAccGroup+'\',\''+id+'\',\''+response.body[i].amount+'\')">'+response.body[i].debitedAccGroup+'('+response.body[i].debAccGroupId+')'+'</li>';
						} 
						content += '</ul>';
						$("#ledger_suggesstion").show();
						$("#ledger_suggesstion").html(content);
						
					}
					else {
						console.log("else: "+response);
						$("#sellerName").css("background","#FFF");
						var content = '<ul id="autocomplete-list">';
						content += '<li onClick="autocompleteValue1(\''+''+'\',\''+''+'\')">'+"No Data Found"+'</li>';
						content += '</ul>';
						$("#ledger_suggesstion").show();
						$("#ledger_suggesstion").html(content);
					}
					}
				},
				error : function(data) {
					console.log(data);
				}
			})
		}

	function autocompleteValue1(sGroupId,sGroupName,id,amount) {
		var l = id.split("_");
		var counter = l[1];

		if (sGroupId) {
			$("#sellerName").val(sGroupName + '( '+sGroupId+' )');
			$("#sellerNameId").val(sGroupId);
			//$("#debitCurrentBalance_"+counter).text(amount);
			$("#sellerName").attr('data-procat', sGroupName);
			$("#ledger_suggesstion").hide();
			
			
		}else {
			$("#sellerName").val("");
			$("#sellerNameId").val("");
			$("#sellerName").val("");
			$("#debitAccountSubGroup_"+counter).attr('data-procat', "");
			$("#ledger_suggesstion").hide();
		}
		}

	//function for auto filled of item Requisition


	
			    	
	

		//function to validate Discount field
		
		function extractNumber(obj, decimalPlaces, allowNegative){
			var temp = obj.value;
			// avoid changing things if already formatted correctly
			var reg0Str = '[0-9]*';
			if (decimalPlaces > 0) {
				reg0Str += '\\.?[0-9]{0,' + decimalPlaces + '}';
			} else if (decimalPlaces < 0) {
				reg0Str += '\\.?[0-9]*';
			}
			reg0Str = allowNegative ? '^-?' + reg0Str : '^' + reg0Str;
			reg0Str = reg0Str + '$';
			var reg0 = new RegExp(reg0Str);
			if (reg0.test(temp)) return true;

			// first replace all non numbers
			var reg1Str = '[^0-9' + (decimalPlaces != 0 ? '.' : '') + (allowNegative ? '-' : '') + ']';
			var reg1 = new RegExp(reg1Str, 'g');
			temp = temp.replace(reg1, '');

			if (allowNegative) {
				// replace extra negative
				var hasNegative = temp.length > 0 && temp.charAt(0) == '-';
				var reg2 = /-/g;
				temp = temp.replace(reg2, '');
				if (hasNegative) temp = '-' + temp;
			}
			
			if (decimalPlaces != 0) {
				var reg3 = /\./g;
				var reg3Array = reg3.exec(temp);
				if (reg3Array != null) {
					// keep only first occurrence of .
					//  and the number of places specified by decimalPlaces or the entire string if decimalPlaces < 0
					var reg3Right = temp.substring(reg3Array.index + reg3Array[0].length);
					reg3Right = reg3Right.replace(reg3, '');
					reg3Right = decimalPlaces > 0 ? reg3Right.substring(0, decimalPlaces) : reg3Right;
					temp = temp.substring(0,reg3Array.index) + '.' + reg3Right;
				}
			}
			
			obj.value = temp;
		}
		function submitJournal(dataset){
						swal.fire({
							title					: "Are you sure want to Submit?",
							text					: "Once Submited,Can't revert back !",
							type 					: "warning",
							showCancelButton		: true,
							confirmButtonColor		: "#DD6BB5",
							confirmButtonText		:"Submit",
							showLoaderOnConfirm		: true,
							reverseButtons 			: true,
							confirmButtonAriaLabel 	: 'Thumbs up, great!',
							cancelButtonText 		: 'Cancel',
							cancelButtonAriaLabel 	: 'Thumbs down',
							preConfirm				: () => {
								return new Promise((resolve) => {
									setTimeout(() => {
										console.log("Doing async operation");
										resolve()
									}, 3000)
								})
							}
						}).then((result) => {
							if(result.value){
								$.ajax({
								type		: "POST",
								url 		: "view-account-journal-voucher-add-journal",
								dataType	: "json",
								contentType	: "application/json",
								data		: JSON.stringify(dataset),
								success		: function(response){
									if(response.message=="Success"){
										swal({
												title:"Data Saved Successfully.",
												type: "success",
										}).then(function(){
												window.location.href = "/account/view-account-journal-voucher" ;
										})
									}else{
										swal({
											title:response.code,
											text: response.message,
											type:"warning"
										})
									}
						},error		: function(response){
							swal(response.code);	
					}
				}) //ajax ends
			}
		})//swal function block ends
	}//submit function ends
			
			 
		//Function for cancel button
		function funcLoad(){
			location.reload();
		} 
			
		function getFromSubtotal(){
			var sum=0;
			$(".debitAmountCls").each(function(i){
		  		sum = sum + parseFloat($(this).val());
		  	})
		
		  		$("#fromTotalAmount").html(sum);
		}	
		function getToSubtotal(){
			var sum=0;
			$(".creditAmountCls").each(function(i){
		  		sum = sum + parseFloat($(this).val());
		  	})
		  	
		  		$("#toTotalAmount").html(sum);
		}	
	
	
		/************for child table/********/
function openNav() {
	$("#itemName").val("");
	$("#quantity").val("");
	$("#categoryId").val("");
	$("#categoryName").val("");
	$("#itemUnitPrice").val("");
	$("#discount").val("");
	$("#gstRate").val("");
	$("#lineTotal").val("");
	$("#size").val("");
	$("#editProduct").val("");
	$("#dealerCode").val("");
	$("#productDimension").val("");
	$("#itemDiscount").val("");
	$("#customLength").val("");
	$("#customWidth").val("");
	$("#customThickness").val("");
	$('#regular').prop('checked', true);
	
	document.getElementById("mySidenav").style.cssText = "width: 30%; position: absolute; right:-10px; overflow: hidden; height:auto; top:150px;";
	document.getElementById("main_content").style.width = "70%";


}

function closeNav() {
	document.getElementById("mySidenav").style.width = "0";
	document.getElementById("main_content").style.width = "100%";
	$('.formValidation').remove();
	$("#itemId").val('');
	$("#categoryId").val("");
	$("#categoryName").val("");
	$("#itemName").val('');
	$("#quantity").val('');
	$("#itemUnitPrice").val('');
	$("#discount").val('');
	$("#gstRate").val('');
	$("#size").val("");
	$("#lineTotal").val('');
	$("#editProduct").val(null);
	$("#productDimension").val("");
	$("#itemDiscount").val("");
	

}	
function saveTableData() {
	var editProduct = $("#editProduct").val();
	var item = {};
	var data = 1;
	var validation = true;
	var sum = 0.0;
	var gstRate = 0.0;
	var qSGST = 0.0;
	var qCGST = 0.0;
	var qIGST = 0.0;
	
	var itemIgst = 0.0;
	var itemCgst = 0.0;
	var itemSgst = 0.0;
	var subtotal =0.0;
	
	var perItemCGST=0.0;
	var perItemSGST=0.0;
	var productOrderQty=0.0;
	if (validation) {
		itemOptions.api.forEachNode(function(rowNode, index) {
			if (!editProduct) {
				data = data + 1;
			}
		});
	
		var line= $('#lineTotal').val();
		var gst= $('#gstRate').val();
		perItemCGST = (parseFloat(line) - (parseFloat(line) / ((parseFloat(gst)+100)/100))) / 2;
		perItemSGST = (parseFloat(line) - (parseFloat(line) / ((parseFloat(gst)+100)/100))) / 2;
		productOrderQty=$('#quantity').val();
		item.itemId = $('#itemId').val();
		item.itemName = $('#itemName').val();
		item.quantity = $('#quantity').val();
	    item.itemUnitPrice = $('#itemUnitPrice').val();
		item.discount = $('#itemDiscount').val();
		item.dealerCode = $('#dealerCode').val();
		item.gstRate = $('#gstRate').val();
		item.lineTotal = $('#lineTotal').val();
		item.categoryName = $('#categoryName').val();
		item.categoryId = $('#categoryId').val();
		item.productDimension = $('#productDimension').val();
		item.toggleRegularCustom = $('#toggleRegularCustom').val();
		item.itemCgst = perItemCGST;
		item.itemSgst = perItemSGST;

		
		if(item.quantity == "" || item.quantity == null){
			swal("Please Enter Valid</br> Quantity")
			return false;
		}
		if(editProduct>0){
			item.slNo = editProduct;
		}else{
			item.slNo = data;
		}
		//console.log(item)
		var quot = [];
		
		if (editProduct) {
			var rowNode = itemOptions.api.getRowNode(editProduct);
			rowNode.setData(item);
			
			itemOptions.api.forEachNode(function(rowNode, index) {
				quot.push(rowNode.data);
			});
		
		    var len = quot.length;
		    
			for (var i = 0; i < len; i++) {
			sum = sum + (parseFloat(quot[i].lineTotal));
			var taxType = $("#taxType").val();
			
			//console.log('taxtype===='+taxType)
			if (taxType == "true") {

				quot[i].itemIgst = quot[i].lineTotal * quot[i].gstRate/ 100;
				qIGST = qIGST + quot[i].itemIgst;
				grandTotal = sum;
			} else {
			
			var totalGstAmnt = (parseFloat(quot[i].lineTotal) - (parseFloat(quot[i].lineTotal) / ((parseFloat(quot[i].gstRate)+100)/100)));
				quot[i].itemCgst = totalGstAmnt/2;
				quot[i].itemSgst =  totalGstAmnt/2;
				qCGST = qCGST + quot[i].itemCgst;
				qSGST = qSGST + quot[i].itemSgst;
				grandTotal = sum;
				subtotal =(sum-(qCGST + qSGST));
			}
		}
		
		$("#subTotal").val(subtotal.toFixed(2));
		$("#qIGST").val(qIGST.toFixed(2));
		$("#qCGST").val(qCGST.toFixed(2));
		$("#qSGST").val(qSGST.toFixed(2));
		$("#grandTotal").val(grandTotal.toFixed(2))
			
		}  else {
			itemOptions.api.forEachNode(function(rowNode, index) {
				quot.push(rowNode.data);
			});
			quot.push(item)
			itemOptions.api.setRowData(quot);

	
		
		var len = quot.length;
		//console.log('length====>>>'+len)
			for (var i = 0; i < len; i++) {
			sum = sum + (parseFloat(quot[i].lineTotal));
			var taxType = $("#taxType").val();

			if (taxType == "true") {

				quot[i].itemIgst = quot[i].lineTotal * quot[i].gstRate/ 100;
				qIGST = qIGST + quot[i].itemIgst;
				grandTotal = sum;
			} else {
			
			var totalGstAmnt = (parseFloat(quot[i].lineTotal) - (parseFloat(quot[i].lineTotal) / ((parseFloat(quot[i].gstRate)+100)/100)));
					
					quot[i].itemCgst = totalGstAmnt/2;
				    quot[i].itemSgst =  totalGstAmnt/2;

				qCGST = qCGST + quot[i].itemCgst;
				qSGST = qSGST + quot[i].itemSgst;
				grandTotal = sum;
				subtotal =(sum-(qCGST + qSGST));
				
			}
		}
		
		

		$("#subTotal").val(subtotal.toFixed(2));
		$("#qIGST").val(qIGST.toFixed(2));
		$("#qCGST").val(qCGST.toFixed(2));
		$("#qSGST").val(qSGST.toFixed(2));
		$("#grandTotal").val(grandTotal.toFixed(2))

	}
	
		
	$("#itemId").val('');
	$("#itemName").val('');
	$("#quantity").val('');
	$("#categoryName").val('');
	$("#productDimension").val('');
	$("#categoryId").val('');
	$("#itemUnitPrice").val('');
	$("#itemDiscount").val('');
	$("#dealerCode").val('');
	$("#gstRate").val('');
	$("#lineTotal").val('');
	$("#productDimensionId").val('');
	$("#editProduct").val(null);
} 
	closeNav();
}	

//calculate Amount=(quantity*itemUnitPrice)-Discount
var grandTotal=0;
var subTotal=0;
var totalGst=0;
var totalSgst=0;
var totalCgst=0;
var totalIgst=0;
function calculateLineTotal() {
	var itemUnitPrice =parseFloat($("#itemUnitPrice").val());
	var quantity =parseFloat($("#quantity").val());
	var itemDiscount=parseInt($("#itemDiscount").val());
	var gstRate=($("#gstRate").val());
	
	if(quantity){
		$("#offeredProductQty").val('');
		var id=$("#productDimension").val();
		var length=id.substring(3,5);
		if(length<48){
			$("#offeredProductQty").val('1');
		}else if(length>=48){
			$("#offeredProductQty").val('2');
		}
	}
if(quantity){
	if(itemDiscount>0){
		var priceAfterDiscount=((itemUnitPrice*quantity)*(100-itemDiscount))/100;
	}else{
		var priceAfterDiscount=(itemUnitPrice*quantity);
	}
	priceAfterDiscount = priceAfterDiscount.toFixed(2)
	$("#lineTotal").val(priceAfterDiscount);
}else{
	$("#lineTotal").val("");
	return false;
}
	
}
		
</script>
</head>

<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">

					<!-- 	<div class="d-flex justify-content-between">
							<div class="col-md-3  btn-hs">
								<div class="font-design" id="totalReq">
									ALL PURCHASE VOUCHERS(<span></span>)
								</div>
							</div>
							<div class="col-md-3  btn-hs" id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search"
									class="searchboxinput" onkeyup="cancelBar()"
									oninput="onQuickFilterChanged()" id="quickFilter">
								<div class="searchicon">
									<a href="javascript:void(0)"><span
										style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
										id="closeKey"
										onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
										class="close_i"><i class="ti-close srchicon"></i></span></a><a
										href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
								</div>
							</div>

						</div>
						<div class="buttonsec btn-hs">
						
						</div>
						</div> -->
						
						
							<div class="row d-flex justify-content-between">
						<div class="col-md-3  btn-hs">
							<div class="font-design" id="totalReq">
								ALL PURCHASE VOUCHERS (<span></span>)
							</div>

						</div>
						
					<div class="col-md-4">
						<div class="form-group d-flex">
								<div class="col-md-3"><label>Fiscal Year</label> </div>
								<div class="col-md-9">
								<div class="select">
									<select id="orderStatusFilter" class="form-control" >
										<option value="">--Select--</option>
										<option th:each="c,iter:${fiscalList}" th:value="${c.key}"
											th:text="${c.name}"></option>
									</select>
								</div>
								</div>
							</div>
						
				  </div>
						
						
						
						
						<div class="col-md-2 form-group">
							<div class="form-group calendar_box">
							<input type="text" id="fromDate" placeholder="From Date" class="form-control"> 
							<i class="ti-calendar picker_calendar" id="toDateCalendar" style="top: 12px; right: 5px;"></i>
							</div>
						</div>
						
						<div class="col-md-2 form-group">
							<div class="form-group calendar_box">
							<input type="text" id="toDate" placeholder="To Date" class="form-control">
							<i class="ti-calendar picker_calendar" id="toDateCalendar" style="top: 12px; right: 5px;"></i>
							</div>
						</div>
						
						<div class="col-md-1">
						<input type="button" id="filter" value="Filter" class="fltbtn" onclick="viewDayBook()" readonly>
					   </div>
						
			
					</div>
					<!-- End -->
					
					
					
					<!-- Start -->
						<div class="row mt-2" id="searchFilterDiv" style="margin-bottom:10px;">
						<div class="col-md-4"></div>

					<div class="col-md-3  btn-hs" id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search"
									class="searchboxinput" onkeyup="cancelBar()"
									oninput="onQuickFilterChanged()" id="quickFilter">
								<div class="searchicon">
									<a href="javascript:void(0)"><span
										style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
										id="closeKey"
										onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
										class="close_i"><i class="ti-close srchicon"></i></span></a><a
										href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
								</div>
							</div>

						</div>
						
						<div class="col-md-4">

						</div>
						

					</div>
					
					<!-- End -->	
					
						
						
						<div id="myGrid" style="width: 100%; height: 500px;"
							class="ag-theme-alpine mt-3"></div>
							
							

						<div class="collapse" id="demo">
							<div class="innercontent">
								<div class="innerstickybg">
									<div class="d-flex justify-content-between" id="main">
										<div class="col-md-3" id="idDiv">
											PURCHASE VOUCHER ID: <span id="journalVoucher"></span>
										</div>
										<div><span class="taskInfo">Purchase Voucher(Particulars)</span></div>


										 <div class="col-md-3 padding-0" align="right">
											<button class="btn4" id="cancel" onclick="cancelBtn()">Back</button>
											<!-- <button class="btn1" id="save" onclick="addReceiptInfo()">SAVE</button> -->
										</div> 
									</div>
								</div>
								<div class="innercontent">
									<!-- <div class="row"> -->
									<div class="row">
									<div class="col-lg-6">Voucher No:&nbsp;&nbsp;<span id="purchaseNumber"></span>
									</div>
									<div class="col-lg-6">Today's Date:&nbsp;&nbsp;<span id="purchaseDate"></span>,<span id="purchaseDay"></span>
									</div>
									</div>
										<div class="row" style="margin-top: 20px;">
									<div class="col-lg-6">
										<!-- id="table-data" -->
										<div class="subheading">
										<label>Buyer Name</label>
										<input type="text" id="buyerName" class="form-control" value="Shoukeen Industries">
										<input type="hidden" id="buyerId" class="form-control" value="TLM0005">
										</div>
									</div>
									<div class="col-lg-6 row">
										<div class="subheading col-lg-12">
										<label>Seller Name</label>
										<!-- <input type="text" id="sellerName" class="form-control" onkeyup="sellerNameList(this.id);"> -->
										<input type="text" id="sellerName" class="form-control">
										<div id="ledger_suggesstion"></div>
										<input type="hidden" id="sellerNameId" class="form-control"/>
										</div>
										<!-- <div class="col-lg-3">
										<button style="margin-top:25px;margin-left:-135px" class="newldeger-btn">NEW LEDGER</button>
										</div> -->
									</div>
									<div class="col-lg-6">
										<div class="subheading">
										<label>Order date</label>
										<input type="text" id="orderDate" class="form-control" readonly>
										</div>
									</div>
								</div>
								<!-- 	main div start here -->
								<!-- <div class="row">							                
					                    
					                    <div class="col-md-4">
											<div class="form-group">
												<label>Cost Center</label>
												<div class="select">
													<select id="costCenter">
														<option value="">Select</option>
														<option th:each="c,iter:${ccList}" th:value="${c.key}"
															th:text="${c.name}"></option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="col-md-8">
											<div class="modal-inrheading">Narration</div>
											<div class="position-text">
												<textarea rows="2" cols="100" id="description"
													onkeyup="textCount(event)"></textarea>
												<div id="charNumSN" class="txtcounter" align="right">
													<span>0</span> characters
												</div>
											</div>
										</div>					
									</div> -->
									
									
									<!-- child table -->
									
									
									<div id="main_content" class="mt-3">
								<div class="wrapper center-block">
									<div class="panel-group" id="accordion" role="tablist"
										aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading active" role="tab" id="headingSix">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse"
														data-parent="#accordion" href="#itemList"
														aria-expanded="true" aria-controls="itemList"> Item
														Details </a>
												</h4>
											</div>
											<div id="itemList" class="panel-collapse collapse show"
												role="tabpanel" aria-labelledby="headingSix">
												<div class="row">

													<div class="col-md-4 btn-hs1">
														<div class="font-design"></div>
													</div>
													<div class="col-md-8 butttonsec">
														<!-- <button class="btn1" id="addNew" onclick="openNav()">NEW ITEM</button> -->
														<button class="btn3" id="delete" onclick="deleteItem()">Delete</button>
													</div>
												</div>
												<div id="item" style="width: 100%; height: 250px;"
													class="ag-theme-alpine"></div>
													
													
												<div id=gstCalS class="col-lg-3"
													style="margin-left: 800px; margin-top: -100px;">
													<div>
														<table style="width: 100%; margin-top: 150px;">
															<tr>
																<th>
																	<div class="row">
																		<div class="col-lg-6 text-style">Sub Total:</div>
																		<div class="col-lg-6">
																			<div class="form-group">
																				<input type="text" style="text-align: right;"
																					id="subTotal" class="form-control text-style"
																					readonly>
																			</div>
																		</div>
																	</div>
																</th>

															</tr>
															<tr class="tbl-box" id="sgstTR">
																<th>
																	<div class="row">
																		<div class="col-lg-6 text-style">SGST:</div>
																		<div class="col-lg-6">
																			<div class="form-group">
																				<input type="text" style="text-align: right;"
																					id="qSGST" class="form-control text-style" readonly>
																				<input type=hidden id="itemSgst">
																			</div>
																		</div>
																	</div>
																</th>

															</tr>

															<tr id="cgstTR">
																<th>

																	<div class="row">
																		<div class="col-lg-6 text-style">CGST:</div>
																		<div class="col-lg-6">
																			<div class="form-group">
																				<input type="text" style="text-align: right;"
																					id="qCGST" class="form-control text-style" readonly>
																				<input type=hidden id="itemIgst">
																			</div>
																		</div>
																	</div>
																</th>

															</tr>

															<tr class="tbl-box" id="igstTR">
																<th>
																	<div class="row">
																		<div class="col-lg-6 text-style">IGST:</div>
																		<div class="col-lg-6">
																			<div class="form-group">
																				<input type="text" style="text-align: right;"
																					id="qIGST" class="form-control text-style" readonly>
																				<input type=hidden id="itemIgst">
																			</div>
																		</div>
																	</div>
																</th>
															</tr>

															<tr>
																<th>
																	<div class="row">
																		<div class="col-lg-6 text-style">Grand Total:</div>
																		<div class="col-lg-6">
																			<div class="form-group">
																				<input type="text" style="text-align: right;"
																					id="grandTotal" class="form-control text-style"
																					readonly>
																			</div>
																		</div>
																	</div>
																</th>

															</tr>
														</table>
													</div>
												</div>	
												
											</div>

										</div>
									</div>

									<div id="mySidenav" class="sidenav visble">
										<div class="slidebox" style="padding-right: 20px;">
											<div class="row">
												<div class="chartbtnsec">
													<div align="right">
														<button class="btn4" onclick="closeNav()">CANCEL</button>
														<button class="btn1" id="saveTableData"
															onclick="saveTableData()">SAVE</button>

													</div>
												</div>




												<div class="col-lg-6">
													<div class="autocomplete"
														style="width: auto !important; margin-top: 0px;">
														<div class="form-group">
															<label>Product Name</label> <input type="text"
																id="categoryName" class="form-control"
																onkeyup='getProductList();'><input type="hidden"
																id="categoryId"> <input type="hidden"
																id="editProduct">
														</div>
													</div>
													<div id="suggesstion-box11_" class="sugg-cls"></div>

												</div>

												<div class="col-lg-6" id="regularDiv">
													<div class="form-group">

														<label>Size</label> <input type="text"
															id="productDimension" class="form-control"
															onkeyup='getDimensionList();alphabetCheck();calculateLineTotal();'>
															 <input	type="hidden" id="productDimensionId">

														<div id="suggesstion-box1_" class="sugg-bx"
															style="overflow-y: hidden; padding: 0; height: auto;"></div>
													</div>
												</div>

												

												<div class="col-lg-6">
													<div class="form-group">
														<label>Quantity</label> <input type="text" id="quantity"
															class="form-control"
															onkeyup="calculateLineTotal();numberCheck()" onblur="offerQty()">
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>Unit Price</label><input type="text"
															id="itemUnitPrice" class="form-control"
															onkeyup="calculateLineTotal()" autocomplete="off"
															>
													</div>
												</div>

												<div class="col-lg-6">
													<div class="form-group">
														<label>Discount Code</label>
														<div class="d-flex">
															<input type="text" id="dealerCode" class="form-control"
																onkeyup="calculateLineTotal()"> <input
																type="hidden" id="itemDiscount"> <input
																type="hidden" id="OfferedlineTotal">
															

														</div>
													</div>
												</div>


												<div class="col-lg-6">
													<div class="form-group">
														<label>GST Rate</label><input type="text" id="gstRate"
															class="form-control" autocomplete="off" >
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<label>Line Total</label> <input type="text"
															id="lineTotal" class="form-control">
													</div>
												</div>


												
												
												
											</div>
										</div>
									</div>
								</div>


							</div>
									
									
									
									<!-- child table end -->
									
									
									
									
									
									
									
									
									
									
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>