<!DOCTYPE html>
<html lang="en">
<head>
<title>NERP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../assets/css/lib/font-awesome.min.css">
<link rel="stylesheet" href="../assets/css/extend/themify-icons.css">
<link rel="stylesheet" href="../assets/css/extend/login.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style type="text/css">

.login-form-2 .ForgetPwd {
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}

.login-form-1 .ForgetPwd {
	color: #ccc;
	font-weight: 600;
	text-decoration: none;
}

</style>
</head>
<body>
	<!-- <h2>Weekly Coding Challenge #1: Sign in/up Form</h2> -->
	<div class="container" id="container">

		<div class="form-container sign-in-container">
			<form th:action="@{/login}" method="post">
				<div>
<!-- 					<img src="assets/images/login_img/logo.png" class="logo"> -->
			<img src="assets/images/login_img/logo.png" class="logo">
			
				</div>
				<div class="heading">Sign in</div>

				<div class="input-box">
					<i class="ti-email"></i><input type="text"
								name="username" id="username" class="form-control"
								placeholder="User Id /Mobile No ...">
				</div>
				<div class="input-box">
					<i class="ti-more"></i><input type="password"
								name="password" id="password" class="form-control"
								placeholder="Passsword">
				</div>
				
				
				<a href="/forgot-password" class="ForgetPwd" >Forgot password?</a>
				
				<!-- <div class="form-group" align="center">
								<a href="/forgot-password" class="ForgetPwd">Forgot Password?</a>
							</div>
				 -->
				<div class="row">
								
							</div>
				<button>Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<div class="textcontent">
					Accelerate your operational efficiency,<br> and growth not just  BUDGET…!
				</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>