<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">

<head>
   <link rel="stylesheet" href="../assets/css/projects/project-dashboard.css" />
<script src="../assets/highchart/projects/project-dashboard-chart.js"></script>
<script src="../assets/js/projects/project-dashboard.js"></script>
<script src="https://kit.fontawesome.com/038792bdf1.js" crossorigin="anonymous"></script>
    
           <link rel="stylesheet" href="../extend/css/dashboard.css" /> 
 
</head>


<body>
<div layout:fragment="content" class="maincontent">
		<div>
    <section>
        <div class="col-md-12">
            <!-- Tabs -->
            <div class="card card-nav-tabs card-plain">
                <div class="card-header card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                 <li class="nav-item" onclick="tabView('operational')">
                                    <a class="nav-link active" href="#operational" data-toggle="tab">Operational</a>
                                </li>
                                 <li class="nav-item"  onclick="tabView('kpi')">
                                    <a class="nav-link" href="#kpi" data-toggle="tab">KPI</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                    
                <div class="card-body ">
                    <div class="tab-content text-center">
                        <!-- operational tab -->
                        <div class="tab-pane active" id="operationalImg">
                        <div class="row mt-10">
                        <div class="col">
                            <div class="d-box d-box-1">
                                <p>RFPs</p>
                                <p>(12)</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-box d-box-2">
                                <p>BUDGETED</p>
                                <p>(2)</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-box d-box-3">
                                <p>PLANNED</p>
                                <p>(10)</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-box d-box-4">
                                <p>EXECUTION</p>
                                <p>(12)</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-box d-box-5">
                                <p>CLOSEOUT</p>
                                <p>(12)</p>
                            </div>
                        </div>
                       
                    </div>
                            <div class="row mt-10">
                                <div class="col-md-2">
                                    <h3 class="kpi-heading">KPIs</h3>
                                    <div class="grey-bg">
                                        <div class="numbers-box">
                                            <p class="numbers-box-text">Number of RFPs</p>
                                            <p class="numbers">120</p>
                                        </div>
                                    </div>
                                    <div class="grey-bg">
                                        <div class="numbers-box">
                                            <p class="numbers-box-text">Number of Proposals</p>
                                            <p class="numbers">2</p>
                                        </div>
                                    </div>
                                    <div class="grey-bg">
                                        <div class="numbers-box">
                                            <p class="numbers-box-text">On Going Projects</p>
                                             <p class="numbers">2</p>
                                        </div>
                                    </div>
                                    <div class="grey-bg">
                                        <div class="numbers-box">
                                            <p class="numbers-box-text">Completed Projects</p>
                                             <p class="numbers">4</p>
                                        </div>
                                    </div>
                                    <div class="grey-bg">
                                        <div class="numbers-box">
                                            <p class="numbers-box-text">Number of Sub-contractors</p>
                                             <p class="numbers">12</p>
                                        </div>
                                    </div>
                                    <div class="grey-bg">
                                        <div class="numbers-box">
                                            <p class="numbers-box-text">Total Closeouts</p>
                                             <p class="numbers">2</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <h3 class="kpi-heading">New RFPs</h3>
                                    <table class="indents-table">
                                        <tr>
                                            <th>Project No</th>
                                            <th>Project Name</th>
                                            <th>State</th>
                                            <th>Location</th>
                                            <th>Customer Name</th>
                                            <th>Address</th>
                                            <th>Email</th>
                                            <th>Mobile</th>
                                            <th>Status</th>
                                            <th>Remarks</th>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>INTERARCH BUILDING PRODUCTS PVT LTD</td>
                                            <td>HARYANA</td>
                                            <td>PANIPT, HARYANA</td>
                                            <td>Sradha Panda</td>
                                            <td>HARYANA</td>
                                            <td>sradha2233@gmail.com</td>
                                            <td>7381275737</td>
                                            <td>Ongoing</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                           <td>2</td>
                                            <td>INDIAN OIL CORPORATION LIMITED</td>
                                            <td>HARYANA</td>
                                            <td>PANIPT, HARYANA</td>
                                            <td>Sradha Panda</td>
                                            <td>HARYANA</td>
                                            <td>sradha2233@gmail.com</td>
                                            <td>7381275737</td>
                                            <td>Ongoing</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>SMCC CONSTRUCTION INDIA LIMITED</td>
                                            <td>GUJARAT</td>
                                            <td>BECHARAJI, GUJARAT</td>
                                            <td>Sagar Anchal</td>
                                            <td>GUJARAT</td>
                                            <td>ssagar2233@gmail.com</td>
                                            <td>7381275737</td>
                                            <td>Completed</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                          <td>4</td>
                                            <td>BHUSAN POWER & STEEL LTD</td>
                                            <td>ODISHA</td>
                                            <td>JHARSUGUDA ODISHA</td>
                                            <td>Sagar Anchal</td>
                                            <td>ODISHA</td>
                                            <td>ssagar2233@gmail.com</td>
                                            <td>7381275737</td>
                                            <td>Completed</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                           <td>5</td>
                                            <td>SHREE CEMENT LIMITED</td>
                                            <td>ODISHA</td>
                                            <td>JHARSUGUDA ODISHA</td>
                                            <td>Sagar Anchal</td>
                                            <td>ODISHA</td>
                                            <td>ssagar2233@gmail.com</td>
                                            <td>7381275737</td>
                                            <td>Completed</td>
                                            <td></td>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <!-- kpi tab -->
                        <div class="tab-pane" id="kpiImg">
                        	<div class="row">
                        		<div class="col-md-8">
                        			<div class="d-flex w-100">
                        				<div class="w-100 mr-10">
                        					<div class="kpi-card-container">
                        						<h6 class="recruitment-h6">Projects</h6>
                        						<div id="projects"></div>
                        					</div>
                        				</div>
                        				<div class="w-100 mr-10">
                        					<div class="kpi-card-container">
                        						<h6 class="recruitment-h6">Tasks</h6>
                        						<div id="tasks"></div>
                        					</div>
                        				</div>
                        				<div class="w-100">
                        					<div class="kpi-card-container">
                        						<h6 class="recruitment-h6">Tasks Created Vs. Completed</h6>
                        						<div id="taskcreated"></div>
                        					</div>
                        				</div>
                        			</div>
                        			<div class="d-flex w-100 mt-10">
                        				<div class="w-100 mr-10">
                        					<div class="kpi-card-container">
                        						<h6 class="recruitment-h6">Contractors</h6>
                        						<i class="fa-solid fa-person"></i>
                        						<h6 class="w-100">CONTRACTORS</h6>
                        						<div class="flow-chbox"></div>
								                <div class="clr d-flex spc-btn">
								                    <div class="crl-box"></div>
								                    <div class="crl-box"></div>
								                </div>
								                <div class="d-flex justify-content-between w-100 mt-10 mb-10">
								                    <div class="text-center">
								                        <div>Following</div>
								                        <div class="num">1800</div>
								                    </div>
								
								                    <div class="text-center">
								                        <div>Followers</div>
								                        <div class="num">2100</div>
								                    </div>
								                </div>
                        					</div>
                        				</div>
                        				<div class="w-100 mr-10">
                        					<div class="kpi-card-container">
                        						<h6 class="recruitment-h6">Time</h6>
                        						<div id="time"></div>
                        					</div>
                        				</div>
                        				<div class="w-100">
                        					<div class="kpi-card-container">
                        						<h6 class="recruitment-h6">Spent time on projects</h6>
                        						<div id="spentontime"></div>
                        					</div>
                        				</div>
                        			</div>
                        			<div class="d-flex w-100 mt-10">
                        				<div class="w-100 mr-10">
                        					<div class="kpi-card-container">
                        						<h6 class="recruitment-h6">Resource allocation</h6>
                        						<div id="resourceallocation"></div>
                        					</div>
                        				</div>
                        				<div class="w-100 mr-10">
                        					<div class="kpi-card-container">
                        						<h6 class="recruitment-h6">Portfolio risks</h6>
                        						<div id="totalDelivery"></div>
                        					</div>
                        				</div>
                        				<div class="w-100">
                        					<div class="kpi-card-container">
                        						<h6 class="recruitment-h6">Outstanding task by person</h6>
                        						<div id="outstandtask"></div>
                        					</div>
                        				</div>
                        			</div>
                        		</div>
                        		
                        		<div class="col-md-4">
                        			<div class="kpi-card-container">
                        				<h6 class="recruitment-h6">Running Project Status</h6>
                        				<div id="runningproject"></div>
                        			</div>
                        			<div class="kpi-card-container mt-10">
                        				<h6 class="recruitment-h6">project health card</h6>
                        				<table class="table indents-table projects-health-card-table">
											<thead>
												<tr>
													<th>Project</th>
													<th>Schedule</th>
													<th>Budget</th>
													<th>Resources</th>
													<th>Risk</th>
													<th>Issues</th>
													<th width='80'>Comments</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Project 1</td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot red"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td width='80'>This slide is 100% editable</td>
												</tr>
												<tr>
													<td>Project 1</td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td width='80'>This slide is 100% editable</td>
												</tr>
												<tr>
													<td>Project 1</td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td width='80'>This slide is 100% editable</td>
												</tr>
												<tr>
													<td>Project 1</td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot red"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td width='80'>This slide is 100% editable</td>
												</tr>
												<tr>
													<td>Project 1</td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td width='80'>This slide is 100% editable</td>
												</tr>
												<tr>
													<td>Project 1</td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td><div class="d-flex justify-content-center">
															<span class="dot grn"></span></td>
													<td width='80'>This slide is 100% editable</td>
												</tr>
											</tbody>
										</table>
                        			</div>
                        			<div class="kpi-card-container mt-10">
                        				<h6 class="recruitment-h6">workload</h6>
                        				<div id="workload"></div>
                        			</div>
                        		</div>
                        	</div>
                  
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Tabs on plain Card -->
        </div>
    </section>
    </div>
    </div>
   
</body>

</html>