<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master}">
<head>
<style>

.btn1 {
    border: none;
    border-radius: 4px;
    font-size: 10px;
    background-color: #5784c4;
    color: #fff!important;
    margin-left: 5px;
    margin-bottom: 8px;
    width: 105px;
    height: 28px;
    line-height: 12px;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}


.taskInfo{
	padding-left: 10px;
    color: #0c63e4;
}

.rating {
	float: left;
}

.rating:not(:checked)>input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
	float: right;
	width: 1em;
	padding: 0 .1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.6);
	/*  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked)>label:before {
	content: '★ ';
}

.rating>input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked)>label:hover, .rating:not(:checked)>label:hover ~
	label {
	color: black;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>input:checked+label:hover, .rating>input:checked+label:hover ~
	label, .rating>input:checked ~ label:hover, .rating>input:checked ~
	label:hover ~ label, .rating>label:hover ~ input:checked ~ label {
	color: #ea0;
	/*  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating>label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

.btn-outline-primary {
	color: #007bff;
	background-color: rgb(240 243 241/ 90%);
	background-image: none;
	border-color: #007bff;
	cursor: pointer;
}



.picker_calendar1 {
    cursor: pointer;
    position: absolute;
    bottom: 501px;
    left: 742px;
}

.picker_calendar2 {
    cursor: pointer;
    position: absolute;
    bottom: 501px;
    left: 1133px;
}


.picker_calendar3 {
    cursor: pointer;
    position: absolute;
    bottom: 442px;
    left: 350px;
}

.picker_calendar4 {
    cursor: pointer;
    position: absolute;
    bottom: 442px;
    left: 742px;
}


.picker_calendar5 {
    cursor: pointer;
    position: absolute;
    bottom: 300px;
    left: 742px;
}



.picker_calendar6 {
    cursor: pointer;
    position: absolute;
    bottom: 300px;
    left: 1133px;
}


.picker_calendar7 {
    cursor: pointer;
    position: absolute;
    bottom: 240px;
    left: 350px;
}

.picker_calendar8 {
    cursor: pointer;
    position: absolute;
    bottom: 240px;
    left: 742px;
}


</style>
<script>
	
	$(function() {
		
		 $("input[name=ReminderYesOrNo]:radio").click(function () {
		        if ($('input[name=ReminderYesOrNo]:checked').val() == "Yes") {
		            $('.reminderBtn').show();

		        } else if ($('input[name=ReminderYesOrNo]:checked').val() == "No") {
		            $('.reminderBtn').hide();
		            $('#meetingFromDate').val("");
		            $('#reminderTime').val("");
		            $('#taskAlertBy').val("");

		        }
		    });
		
		
		var dateFormat = localStorage.getItem("dateFormat");								
		$("#DateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#dueDate').val($(this).val());
		})

		$('#dueDate').blur(function() {
			$("#DateCalendar").val($(this).val());
		})
		
	//Meeting Calendar From Date
	$("#meetingCalendarFromDate").datetimepicker({
		format : dateFormat,
		closeOnDateSelect : true,
		timepicker : false,
	}).on("change", function() {
		$('#meetingFromDate').val($(this).val());
	})
	
	$('#meetingFromDate').blur(function(){
		$("#meetingCalendarFromDate").val($(this).val());
	}) 
	
	$("#meetingCalendarRepeatFromDate").datetimepicker({
		format : dateFormat,
		closeOnDateSelect : true,
		timepicker : false,
	}).on("change", function() {
		$('#meetingRepeatFromDate').val($(this).val());
	})
	
	$('#meetingRepeatFromDate').blur(function(){
		$("#meetingCalendarRepeatFromDate").val($(this).val());
	}) 
	
	
	$("#meetingCalendarToDate").datetimepicker({
		format : dateFormat,
		closeOnDateSelect : true,
		timepicker : false,
	}).on("change", function() {
		$('#meetingToDate').val($(this).val());
	})
	
	$('#meetingToDate').blur(function(){
		$("#meetingCalendarToDate").val($(this).val());
	}) 
	
	$("#meetingCalendarRepeatToDate").datetimepicker({
		format : dateFormat,
		closeOnDateSelect : true,
		timepicker : false,
	}).on("change", function() {
		$('#meetingRepeatToDate').val($(this).val());
	})
	
	$('#meetingRepeatToDate').blur(function(){
		$("#meetingCalendarRepeatToDate").val($(this).val());
	}) 
	
	
	
	$("#meetingCalendarFromTime").datetimepicker({
		format : 'H:i',
		closeOnDateSelect : false,
		timepicker : true,
		datepicker : false,
		step : 15
	}).on("change", function() {
		$('#meetingFromTime').val($(this).val());
	})

	$('#meetingFromTime').blur(function() {
		$("#meetingCalendarFromTime").val($(this).val());
	}) 
	
	
	$("#meetingCalendarRepeatFromTime").datetimepicker({
		format : 'H:i',
		closeOnDateSelect : false,
		timepicker : true,
		datepicker : false,
		step : 15
	}).on("change", function() {
		$('#meetingRepeatFromTime').val($(this).val());
	})

	$('#meetingRepeatFromTime').blur(function() {
		$("#meetingCalendarRepeatFromTime").val($(this).val());
	}) 
	
	
	$("#meetingCalendarRepeatToTime").datetimepicker({
		format : 'H:i',
		closeOnDateSelect : false,
		timepicker : true,
		datepicker : false,
		step : 15
	}).on("change", function() {
		$('#meetingRepeatToTime').val($(this).val());
	})

	$('#meetingRepeatToTime').blur(function() {
		$("#meetingCalendarRepeatToTime").val($(this).val());
	}) 
	
	
	$("#meetingCalendarToTime").datetimepicker({
		format : 'H:i',
		closeOnDateSelect : false,
		timepicker : true,
		datepicker : false,
		step : 15
	}).on("change", function() {
		$('#meetingToTime').val($(this).val());
	})

	$('#meetingToTime').blur(function() {
		$("#meetingCalendarToTime").val($(this).val());
	}) 
	
	});
	
	$(function() {

		var gridDiv = document.querySelector('#myGrid');
		new agGrid.Grid(gridDiv, gridOptions);

		agGrid.simpleHttpRequest({
			url : "view-crm-meetings-throughAjax"
		}).then(function(data) {
			var len = data.length;
			$('#totalReq').find('span').html(len);

			gridOptions.api.setRowData(data);

		});
		$("#myGrid").show();
		$("#delete").attr("disabled", true);
	});

	$(function() {
		$('.collapse').on('show.bs.collapse', function() {
			$(this).siblings('.panel-heading').addClass('active');
		});
		
		
		 $("#isRepeat").click(function () {
		        if ($(this).is(":checked")) {
		        	//$("#repeatOrNot").show();
		        } else {
		        	//$("#repeatOrNot").hide();
		        }
		    });

	})
	//search bar

	function onQuickFilterChanged() {
		gridOptions.api
				.setQuickFilter(document.getElementById('quickFilter').value);
	}

	function cancelBar() {
		var id = document.getElementById("closeKey");
		id.style.display = "block";

		if ($('#quickFilter').val() == null || $('#quickFilter').val() == "") {
			id.style.display = "none";
		}
	}

	$('input,textarea').focus(
			function() {
				$(this).data('placeholder', $(this).attr('placeholder')).attr(
						'placeholder', '');
			}).blur(function() {
		$(this).attr('placeholder', $(this).data('placeholder'));
	});

	var count = 0;
	function allCheck() {
		count++;

		if (count == 1) {
			$('.checkCls').prop("checked", true);
		} else {
			count = 0;
			$('.checkCls').prop("checked", false);
		}
	}

	var txtLen = 0;
	function textCount(event) {

		var id = event.target.id;
		var pId = $('#' + id).next().attr("id");
		$('#' + pId + ' span').empty();
		txtLen = $('#' + id).val().length;
		$('#' + pId + ' span').append(txtLen);
	}
	// column Defs
	const columnDefs = [
			{
				headerCheckboxSelection : true,
				checkboxSelection : true,
				width : 8,
				sortable : false,
				filter : false,
				resizable : true

			},{
				headerName : 'Meeting Id',
				field : "meetingId",
				cellRenderer : function(params) {
					return '<a onclick=editPage("' + params.data.meetingId
							+ ',' + '0' + '") href="javascript:void(0)">'+
							"meeting"+ params.data.meetingId + '</a>';
				}
			},
			 {
				headerName : "Meeting Title",
				field : "meetingTitle",
				cellStyle : {
					textAlign : 'left'
				}
			},{
				headerName : "From",
				field : "meetingFromDate",
				cellStyle : {
					textAlign : 'left'
				}
			},{
				headerName : "To",
				field : "meetingToDate",
				cellStyle : {
					textAlign : 'left'
				}
			},
			   {
				headerName : "Related To",
				field : "relatedMeetingTo",
				cellStyle : {
					textAlign : 'left'
				}
			},{
				headerName : "Meeting Status",
				field : "meetingStatus",
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : "Lead Name",
				field : "leadName",
				cellStyle : {
					textAlign : 'left'
				}
			}, {
				headerName : "Contact Name",
				field : "contactName",
				cellStyle : {
					textAlign : 'left'
				}
			},{
				headerName : "Host",
				field : "meetingHost",
				cellStyle : {
					textAlign : 'left'
				}
			} ];

	const gridOptions = {
		columnDefs : columnDefs,
		defaultColDef : {
			sortable : true,
			filter : true,
			resizable : true,
			width : 200,
			height :10
		},
		rowSelection : 'multiple',
		suppressRowClickSelection : true,
		onSelectionChanged : rowSelect,
		getRowNodeId : function(data) {
			return data.meetingId;
		}
	};
	
	var deleteId = "";
	function rowSelect() {
		//alert('hello select');
		var selectedRows = gridOptions.api.getSelectedRows();
		deleteId = "";

		for (var i = 0; i < selectedRows.length; i++) {
			//deleteId = deleteId + '"' + selectedRows[i].meetingId + '",';
			  deleteId = deleteId  + selectedRows[i].meetingId + ',';
		}

		//var programming = $("input[name='ag-checkbox-input']:checked").map(function() {
        //    return this.value;
       // }).get().join(', ');
		
		//alert(programming);
		deleteId = deleteId.substring(0, deleteId.length - 1);
		console.log(deleteId)
		var rowCount = 0;

		selectedRows.forEach(function(selectedRow, index) {
			rowCount = rowCount + 1;
		});

		if (rowCount > 0) {
			$('#delete').attr("disabled", false);

		} else {
			$('#delete').attr("disabled", true);
		}
	}
	// for new button
	function newBtn() { 
	//	alert('hello');
		$("#add").hide();
		$("#copy").hide();
		$("#delete").hide();
		$("#myGrid").hide();
		$("#searchRowDiv").hide();
		$("#totalReq").hide();
		$("#statusDiv").hide();
		$("#idDiv").hide();
		$("#collapseFour").hide();
		$("#headingFour").hide();
		$("#myGridActivity").hide();

		$("#demo").show();

	}
	// for cancel button
	function cancelBtn() {
		$("#add").show();
		$("#copy").show();
		$("#delete").show();
		$("#totalReq").show();
		$("#myGrid").show();
		$("#searchRowDiv").show();
		$("#demo").hide();

		$('#meetingId').val("");
		$('#oppertunity').val("");
		$('#expectedRevenue').val("");
		$('#probability').val("");
		$('#customer').val("");
		$('#email').val("");
		$('#phone').val("");
		$('#saleperson').val("");
		$('#salesTeam').val("");
		$('#date').val("");
		$("#star1").attr("checked", false);
		$("#star2").prop("checked", false);
		$("#star3").prop("checked", false);
		$('#tags').val("");
		$('#campanyName').val("");
		$('#description').val("");
		$('#campanyName').val("");
		$('#addressStreet').val("");
		$('#addressStreet2').val("");
		$('#city').val("");
		$('#states').val("");
		$('#zip').val("");
		$('#country').val("");
		$('#website').val("");
		$('#language').val("");
		$('#contactName').val("");
		$('#tittle').val("");
		$('#jobPosition').val("");
		$('#mobile').val("");
		$('#referdBy').val("");
		$('#campaign').val("");
		$('#medium').val("");
		$('#source').val("");

		agGrid.simpleHttpRequest({
			url : "view-crm-meetings-throughAjax"
		}).then(function(data) {
			gridOptions.api.setRowData(data);
		});
	}

	$(document).ready(function() {
		$("#date").datetimepicker({
			format : "d-m-Y",
			closeOnDateSelect : true,
			minDate : new Date(),
			timepicker : false,
		});
		$("#meetingId").val("");

		var dateFormat = localStorage.getItem("dateFormat");
		$("#fromDateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#fromDate').val($(this).val());
		})

		$('#fromDate').blur(function() {
			$("#fromDateCalendar").val($(this).val());
		})

		$("#toDateCalendar").datetimepicker({
			format : dateFormat,
			closeOnDateSelect : true,
			timepicker : false,
		}).on("change", function() {
			$('#toDate').val($(this).val());
		})

		$('#toDate').blur(function() {
			$("#toDateCalendar").val($(this).val());
		})

		$("#fromTime").datetimepicker({
			format : 'H:i',
			closeOnDateSelect : false,
			timepicker : true,
			datepicker : false,
			step : 15
		})

		$("#rLeadname").hide();
		$("#rContactname").hide();
		
		$("#toTime").datetimepicker({
			format : "H:i",
			closeOnDateSelect : false,
			timepicker : true,
			datepicker : false,
			step : 15
		})

	});
	
	
	// Edit & stage change 
	function editPage(id) {
		//alert(id);
		var editId = id.split(",");
		
		var meetingId = editId[0];
		
		var modal = editId[1];
		//alert('meetingId------'+meetingId);
		$("#demo").show();

		$.ajax({
			type : "GET",
			url : "view-crm-meetings-edit?id=" + meetingId,
			async : false,
			success : function(response) {
				console.log(JSON.stringify(response));
				if (response.message == "Success") {
					
					$("#add").hide();
					$("#copy").hide();
					$("#delete").hide();
					$("#myGrid").hide();
					$("#searchRowDiv").hide();
					$("#totalReq").hide();
					$("#statusDiv").hide();
					$("#idDiv").hide();
					$("#collapseFour").hide();
					$("#headingFour").hide();
					$("#myGridActivity").hide();

					$("#demo").show();
					
					$(".container").hide();
					//agGridActivity(pipelineId);
					var meetingFromDate = response.body[0].meetingFromDate;
					meetingFromDate = meetingFromDate.split(' ')[0];
					
					var meetingToDate = response.body[0].meetingToDate;
					meetingToDate = meetingToDate.split(' ')[0];
					
					var meetingRepeatFromDate = response.body[0].meetingRepeatFromDate;
					meetingRepeatFromDate = meetingRepeatFromDate.split(' ')[0];
					
					var meetingRepeatToDate = response.body[0].meetingRepeatToDate;
					meetingRepeatToDate = meetingRepeatToDate.split(' ')[0];
					
					var meetingId=$("#meetingId").text(response.body[0].meetingId);
					//console.log("meetingId-------------------"+JSON.stringify(response.body[0].taskOwner));
					console.log("meetingId-------------------"+response.body[0].taskOwner);
					$("#meetingTitle").val(response.body[0].meetingTitle);
					$("#meetingLocation").val(response.body[0].meetingLocation);
					
					var isThisOnlineValue=response.body[0].isThisOnlineMeeting;	
					if(isThisOnlineValue =='on'){
						console.log('isThisOnlineMeeting-----------'+response.body[0].isThisOnlineMeeting);
						$('#isThisOnlineMeeting').prop('checked', true);
					}else{
						$('#isThisOnlineMeeting').prop('checked', false);
					}
					
					var isAllDayValue=response.body[0].isAllDay;	
					if(isAllDayValue =='on'){
						console.log('isAllDayValue-----------'+response.body[0].isAllDay);
						$('#isAllDay').prop('checked', true);
					}else{
						$('#isAllDay').prop('checked', false);
					}
					
					$("#meetingFromDate").val(meetingFromDate);
					$('#meetingFromTime').val(response.body[0].meetingFromTime);
					$('#meetingToDate').val(meetingToDate);
					$('#meetingToTime').val(response.body[0].meetingToTime);
					$('#meetingHost').val(response.body[0].meetingHost);
					$('#meetingParticipants').val(response.body[0].meetingParticipants);
					
					$('#meetingRepeatToTime').val(response.body[0].meetingCalendarRepeatToTime);
					
				
					
					$('#relatedMeetingTo').val(response.body[0].relatedMeetingTo);
					
					var isRepeatValue=response.body[0].isRepeat;	
					if(isRepeatValue =='on'){
						console.log('isRepeatValue-----------'+response.body[0].isRepeat);
						$('#isRepeat').prop('checked', true);
					}else{
						$('#isRepeat').prop('checked', false);
					}
					
					var isAllDayRepeatValue=response.body[0].isAllDayRepeat;	
					if(isAllDayRepeatValue =='on'){
						console.log('isAllDayRepeatValue-----------'+response.body[0].isAllDayRepeat);
						$('#isAllDayRepeat').prop('checked', true);
					}else{
						$('#isAllDayRepeat').prop('checked', false);
					}
					$('#meetingStatus').val(response.body[0].meetingStatus);
					$('#meetingRepeatFromDate').val(meetingRepeatFromDate);
					$('#meetingRepeatFromTime').val(response.body[0].meetingRepeatFromTime);
					$('#meetingRepeatToDate').val(meetingRepeatToDate);
					

					$('#repeatType').val(response.body[0].repeatType);
					$('#description').val(response.body[0].description);
					
					$('#participantId').val(response.body[0].participantId);
					$('#leadName').val(response.body[0].leadName);
					$('#leadId').val(response.body[0].leadId);
					$('#contactName').val(response.body[0].contactName);
					$('#contactId').val(response.body[0].contactId);
					
					var relatedId=response.body[0].relatedMeetingTo
					
					if(relatedId=='Lead'){
						$(".leadNameCls").show();
						$(".contactNameCls").hide();
						$('#leadName').val(response.body[0].leadName);
						$('#leadId').val(response.body[0].leadId);
					}
					if(relatedId=='Contact'){
						$(".leadNameCls").hide();
						$(".contactNameCls").show();
						$('#contactName').val(response.body[0].contactName);
						$('#contactId').val(response.body[0].contactId);
					}
					//for stage active status
					
				}
			}
		})
	}

</script>
<script>
		
	////ends
	function addMeetingInfo() {
		
		var type=$('#relatedMeetingTo').val();
		var obj = {};
		obj.meetingId = $('#meetingId').text();
		obj.meetingTitle = $('#meetingTitle').val();
		obj.meetingLocation = $('#meetingLocation').val();
		obj.meetingType = "Meeting";
		obj.isThisOnlineMeeting = $('#isThisOnlineMeeting').val();
		obj.isAllDay = $('#isAllDay').val();
		obj.meetingFromDate = $('#meetingFromDate').val();
		obj.meetingFromTime = $('#meetingFromTime').val();
		obj.meetingToDate = $('#meetingToDate').val();
		obj.meetingToTime = $('#meetingToTime').val();
		obj.meetingHost = $('#meetingHost').val();
		obj.leadName = $('#leadName').val();
		obj.leadId = $('#leadId').val();
		obj.contactName = $('#contactName').val();
		obj.contactId = $('#contactId').val();
		obj.meetingParticipants = $('#meetingParticipants').val();
		obj.participantId = $('#participantId').val();
		obj.relatedMeetingTo = $('#relatedMeetingTo').val();
		obj.meetingStatus = $('#meetingStatus').val();
		obj.isRepeat = $('#isRepeat').val();
		obj.isAllDayRepeat = $('#isAllDayRepeat').val();
		obj.meetingRepeatFromDate = $('#meetingRepeatFromDate').val();
		obj.meetingRepeatFromTime = $('#meetingRepeatFromTime').val();
		obj.meetingRepeatToDate = $('#meetingRepeatToDate').val();
		obj.meetingCalendarRepeatToTime = $('#meetingRepeatToTime').val();
		obj.repeatType = $('#repeatType').val();
		obj.description = $('#description').val(); 
		console.log(obj);//return false;

		/* FORM VALIDATION STARTS*/

		var validation = true;
		//return false;

 	if (obj.meetingLocation == null || obj.meetingLocation == "") {
			validation = validationUpdated("Meeting Location Required",
					"meetingLocation");
		}  
 	if (obj.meetingFromDate == null || obj.meetingFromDate == "") {
		validation = validationUpdated("Meeting FromDate Required",
				"meetingFromDate");
	}  
 	if (obj.meetingFromTime == null || obj.meetingFromTime == "") {
		validation = validationUpdated("Meeting FromTime Required",
				"meetingFromTime");
	}  
 	if (obj.meetingToDate == null || obj.meetingToDate == "") {
		validation = validationUpdated("Meeting ToDate Required",
				"meetingToDate");
	}  
 	if (obj.meetingToTime == null || obj.meetingToTime == "") {
		validation = validationUpdated("Meeting ToTime Required",
				"meetingToTime");
	}
 	if (obj.meetingHost == null || obj.meetingHost == "") {
		validation = validationUpdated("Meeting Host Required",
				"meetingHost");
	}
 	if (obj.meetingParticipants == null || obj.meetingParticipants == "") {
		validation = validationUpdated("Meeting Participants Required",
				"meetingParticipants");
	}
 	if (obj.relatedMeetingTo == null || obj.relatedMeetingTo == "") {
		validation = validationUpdated("RelatedMeeting Required",
		"relatedMeetingTo");
    }
 	if (type=='Lead'){
 		if (obj.leadName == null || obj.leadName == "") {
 			validation = validationUpdated("Name Required",
 			"leadName");
 	    }
 		
 	}
 	if (type=='Contact'){
 		if (obj.relatedMeetingTo == null || obj.contactName == "") {
 			validation = validationUpdated("Name Required",
 			"contactName");
 	    }
 		
 	}

 	 if (obj.isAllDay == null || obj.isAllDay == "") {
		validation = validationUpdated("AllDay Field Required",
		"isAllDay");
    } 
    if (obj.meetingStatus == null || obj.meetingStatus == "") {
		validation = validationUpdated("Meeting Status Required",
		"meetingStatus");
    } 
		/* FORM VALIDATION ENDS*/
		if (validation) {
			$.ajax({
				type : "POST",
				url : "view-crm-meetings-add-dtls",
				contentType : "application/json",
				data : JSON.stringify(obj),
				success : function(response) {
					console.log(response);
					if (response.message == "Success") {
//return false;
						$("#add").show();
						$("#copy").show();
						$("#delete").show();
						$("#totalReq").show();
						$("#myGrid").show();
						$("#searchRowDiv").show();

						$("#demo").hide();

						agGrid.simpleHttpRequest({
							url : "view-crm-meetings-throughAjax"
						}).then(function(data) {
							gridOptions.api.setRowData(data);
						});
					}
				},
				error : function(data) {

					console.log(data);
				}
			})
		}

	}
	
	function getNameList() {
		var search = $("#meetingParticipants").val();
		if(search == ""){
		$("#suggesstion-box1_").hide();
		}
			if (search) {
			$.ajax({
						type : "POST",
						url : "view-crm-meetings-autosearchDetailsContact",
						dataType : 'json',
						contentType : 'application/json',
						data : search,
						success : function(response) {
							if (response.message == "success") {
								
								if (response.body.length != 0) {
									$("#search").css("background", "#FFF");
									var content = '<ul id="autocomplete-list1" style="margin-left:-40px; font-weight:100; font-size:14px; color:#ccc;">';
									for (var i = 0; i < response.body.length; i++) {
										content += '<li class="autocompletedata cp" onClick="selectAutocompleteValue1(\''
												+ response.body[i].name
												+ '\',\''
												+ response.body[i].key
												+ '\')">'
												+ response.body[i].name
												+ '</li>';
									}
									content += '</ul>';
									$("#suggesstion-box1_").show();
									$("#suggesstion-box1_").html(content);

								}
								else {
									$("#search").css("background", "#FFF");
									var content = '<div id="autocomplete-list1">';
									content += '<div onClick="selectAutocompleteValue()">'
											+ "No Data Found" + '</div>';
									content += '</div>';
									$("#suggesstion-box1_").show();
									$("#suggesstion-box1_").html(content);
								}
							}
						},
						error : function(data) {
							console.log(data);
						}
					})
		
			}
		
			
			
		} 
	

		function selectAutocompleteValue1(name, participantId) {

		if (name) {
		//$("#personName").val("");
		$("#participantId").val(participantId);
		$("#meetingParticipants").val(name);
		$("#search").val(participantId);
		$("#search").attr('data-procat', name);
		$("#suggesstion-box1_").hide();

		} else {
		$("#participantId").val("");

		$("#meetingParticipants").val("");

		$("#search").val("");
		$("#search").attr('data-procat', "");
		$("#suggesstion-box1_").hide();

		}
		}
		function selectAutocompleteValue() {

		$("#participantId").val("");

		$("#meetingParticipants").val("");

		$("#search").val("");
		$("#search").attr('data-procat', "");
		$("#suggesstion-box1_").hide();

		}
		
		function checkMeetingDetails() {
			var id = $("#relatedMeetingTo").val();
			if (id == "Lead") {
				$(".leadNameCls").show();
				$(".contactNameCls").hide();
				$("#contactId").val("");			
				$("#contactName").val("");
				$("#relatedType").prop('disabled', true);
				$("#relatedName").prop('disabled', true);
				}
			else {
				$(".contactNameCls").show();
				$(".leadNameCls").hide();
				$("#leadId").val("");			
				$("#leadName").val("");
				$("#relatedType").prop('disabled', false);
				$("#relatedName").prop('disabled', false);
			}
		}
	
		function getNameLeadContactList() {
			var relatedMeetingTo=$("#relatedMeetingTo").val();
			var leadName = $("#leadName").val();
			var contactName = $("#contactName").val();
			 if(leadName == ""){
				$("#suggesstion-boxLead_").hide();
			}
			if(contactName == ""){
				$("#suggesstion-boxContact_1").hide();
			} 
			
			if(relatedMeetingTo=='Lead'){
			var searchVal = leadName;
			$.ajax({
						type : "POST",
						url : "view-crm-meetings-autosearchLead",
						dataType : 'json',
						contentType : 'application/json',
						data : searchVal,
						success : function(response) {
							if (response.message == "success") {
								
								if (response.body.length != 0) {
									$("#search").css("background", "#FFF");
									var content = '<ul id="autocomplete-list1" style="margin-left:-40px; font-weight:100; font-size:14px; color:#ccc;">';
									for (var i = 0; i < response.body.length; i++) {
										content += '<li class="autocompletedata cp" onClick="selectAutocompleteValueLead(\''
												+ response.body[i].name
												+ '\',\''
												+ response.body[i].key
												+ '\')">'
												+ response.body[i].name
												+ '</li>';
									}
									content += '</ul>';
									$("#suggesstion-boxLead_").show();
									$("#suggesstion-boxLead_").html(content);

								} else {
									$("#search").css("background", "#FFF");
									var content = '<div id="autocomplete-list1">';
									content += '<div onClick="selectAutocompleteLeadValue()">'
											+ "No Data Found" + '</div>';
									content += '</div>';
									$("#suggesstion-boxLead_").show();
									$("#suggesstion-boxLead_").html(content);
								}
							}
						},
						error : function(data) {
							console.log(data);
						}
					})
			 }
			else{
				var searchVal = contactName;
				$.ajax({
							type : "POST",
							url : "view-crm-meetings-autosearchContact",
							dataType : 'json',
							contentType : 'application/json',
							data : searchVal,
							success : function(response) {
								if (response.message == "success") {
									
									if (response.body.length != 0) {
										$("#search").css("background", "#FFF");
										var content = '<ul id="autocomplete-list1" style="margin-left:-40px; font-weight:100; font-size:14px; color:#ccc;">';
										for (var i = 0; i < response.body.length; i++) {
											content += '<li class="autocompletedata cp" onClick="selectAutocompleteValueContact(\''
													+ response.body[i].name
													+ '\',\''
													+ response.body[i].key
													+ '\')">'
													+ response.body[i].name
													+ '</li>';
										}
										content += '</ul>';
										$("#suggesstion-boxContact_1").show();
										$("#suggesstion-boxContact_1").html(content);

									}
									else {
										$("#search").css("background", "#FFF");
										var content = '<div id="autocomplete-list1">';
										content += '<div onClick="selectAutocompleteContactValue()">'
												+ "No Data Found" + '</div>';
										content += '</div>';
										$("#suggesstion-boxContact_1").show();
										$("#suggesstion-boxContact_1").html(content);
									}
								}
							},
							error : function(data) {
								console.log(data);
							}
						})
			
				
				
			} 
			

			}

			function selectAutocompleteValueLead(name,LeadId) {

			if (name) {
				
			//$("#personName").val("");
			$("#leadId").val(LeadId);
			
			$("#leadName").val(name);
			$("#search").val(LeadId);
			$("#search").attr('data-procat', name);
			$("#suggesstion-boxLead_").hide();

			} else {
			$("#leadId").val("");

			$("#leadName").val("");

			$("#search").val("");
			$("#search").attr('data-procat', "");
			$("#suggesstion-boxLead_").hide();

			}
			}
			function selectAutocompleteLeadValue() {

			$("#leadId").val("");

			$("#leadName").val("");

			$("#search").val("");
			$("#search").attr('data-procat', "");
			$("#suggesstion-boxLead_").hide();

			}
			
			
			function selectAutocompleteValueContact(name,ContactId) {

				if (name) {
					
				//$("#personName").val("");
				$("#contactId").val(ContactId);
				
				$("#contactName").val(name);
				$("#search").val(ContactId);
				$("#search").attr('data-procat', name);
				$("#suggesstion-boxContact_1").hide();
				

				} else {
				$("#contactId").val("");

				$("#contactName").val("");

				$("#search").val("");
				$("#search").attr('data-procat', "");
				$("#suggesstion-boxContact_").hide();

				}
				}
				function selectAutocompleteContactValue() {

				$("#contactId").val("");

				$("#contactName").val("");

				$("#search").val("");
				$("#search").attr('data-procat', "");
				$("#suggesstion-boxContact_").hide();

				}
		
		
		
		
	
	function deleteMeeting(){
		console.log("delete ids--------------"+deleteId);
		$.ajax({
			type : "GET",
			url : "view-crm-meetings-delete-id?id=" + deleteId,
			success : function(response) {
				if (response.message == "Success") {
					cancelBtn();
					agGrid.simpleHttpRequest({
						url : "view-crm-meetings-throughAjax"
					}).then(function(data) {
						gridOptions.api.setRowData(data);
					});

				}
			}

		});
		
		$('#delete').attr("disabled", true);
	}

</script>
</head>

<body>
	<div layout:fragment="content" class="maincontent">
		<div class="container-fluid">
			<div class="d-flex">
				<div class="maincontentsec">

						<div class="d-flex justify-content-between">
							<div class="col-md-4  btn-hs">
								<div class="font-design" id="totalReq">
									ALL MEETINGS (<span></span>)
								</div>
							</div>
							<div class="col-md-4  btn-hs" id="searchRowDiv">
							<div class="input-style">
								<input type="text" placeholder="Search.." name="search"
									class="searchboxinput" onkeyup="cancelBar()"
									oninput="onQuickFilterChanged()" id="quickFilter">
								<div class="searchicon">
									<a href="javascript:void(0)"><span
										style="display: none; border-right: 1px solid #ccc; padding-right: 5px;"
										id="closeKey"
										onclick="gridOptions.api.setQuickFilter(null);$('#quickFilter').val('');document.getElementById('closeKey').style.display='none';"
										class="close_i"><i class="ti-close srchicon"></i></span></a><a
										href="javascript:void(0)"><i class="ti-search srchicon"></i></a>
								</div>
							</div>

						</div>
					<div class="buttonsec btn-hs">
								<input type="button" class="btn3" onclick="deleteMeeting()" id="delete" value="DELETE"
									data-toggle="modal" data-target="#delete" readonly> 
									<input type="button" class="btn2" id="action" value="Action"
									 readonly>
									
									<input type="button" class="btn1" id="add" value="Create Meetings"
									onclick="newBtn()" readonly>
							</div>
						</div>
						
						<div id="myGrid" style="width: 100%; height: 500px;"
							class="ag-theme-alpine"></div>

						<div class="collapse" id="demo">
							<div class="innercontent">
								<div class="innerstickybg">
									<div class="d-flex justify-content-between" id="main">
										<div class="col-md-3" id="idDiv">
											Meeting ID: <span id="meetingId"></span>
										</div>
										<div><span class="taskInfo">Meeting Information</span></div>


										<div class="col-md-3 padding-0" align="right">
											<button class="btn4" id="cancel" onclick="cancelBtn()">CANCEL</button>
											<button class="btn1" id="save" onclick="addMeetingInfo()">SAVE</button>
										</div>
									</div>
								</div>
								<div class="innercontent">

									<!-- <div class="row"> -->
									<div class="row">
									
									    <div class="col-md-4">
											<div class="form-group">
												<label>Meeting Title</label>
												<input type="text" class="form-control"
													id="meetingTitle" value="New Meeting">
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group">
												<label>Location</label>
												<input type="text" class="form-control"
													id="meetingLocation" placeholder="Location" onblur="removeValid(event)">
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group">
												<input type="checkbox" id="isThisOnlineMeeting"
													value="on"> <label>Make this an online meeting</label>
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group">
												<input type="checkbox" id="isAllDay"
													value="on"> <label>All Day</label>
											</div>
										</div>
										
										
										
										
									<div class="col-md-4 reminderBtn">
										<label>Meeting From Date</label>
										<!-- <input type="text" id="meetingFromDate" class="form-control" readonly onblur="removeValid(event)"
											th:attr="onkeyup=|formatDate('meetingFromDate','${session.DATEFORMAT_JS}')|">
										<i class="ti-calendar picker_calendar1" id="meetingCalendarFromDate"></i> -->
										
										<input type="date" id="meetingFromDate" class="form-control">
									</div> 
									
									 <div class="col-md-4 reminderBtn">
										<label>Meeting From Time</label> 
										<!-- <input type="text"
											id="meetingFromTime" class="form-control" readonly onblur="removeValid(event)"
											th:attr="onkeyup=|formatDate('meetingFromTime','${session.DATEFORMAT_JS}')|">
										<i class="ti-calendar picker_calendar2" id="meetingCalendarFromTime"></i> -->
										
										<input type="time" id="meetingFromTime" class="form-control">
									</div>
									
									<div class="col-md-4 reminderBtn">
										<label>Meeting To Date</label>
										<!-- <input type="text" id="meetingToDate" class="form-control" readonly onblur="removeValid(event)"
											th:attr="onkeyup=|formatDate('meetingToDate','${session.DATEFORMAT_JS}')|">
										<i class="ti-calendar picker_calendar3" id="meetingCalendarToDate"></i> -->
										
										<input type="date" id="meetingToDate" class="form-control">
									</div> 
									
									 <div class="col-md-4 reminderBtn">
										<label>Meeting To Time</label> 
										<!-- <input type="text" id="meetingToTime" class="form-control" readonly onblur="removeValid(event)"
											th:attr="onkeyup=|formatDate('meetingToTime','${session.DATEFORMAT_JS}')|">
										<i class="ti-calendar picker_calendar4" id="meetingCalendarToTime"></i> -->
										
										<input type="time" id="meetingToTime" class="form-control">
									</div>
										
																	
										<div class="col-md-4">
											<div class="form-group">
												<label>Host</label>
													<select id="meetingHost" onblur="removeValid(event)">
														<option value="">Select Host</option>
															<option th:each="c,iter:${ownerList}"
																th:value="${c.key}" th:text="${c.name}"></option>
																		
												</select>
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group">
												<label>Participants</label>
												<input type="text" class="form-control"
													id="meetingParticipants" placeholder="Participants" onkeyup='getNameList()'>
													<input type="hidden" id="participantId"> 
												 <div id="suggesstion-box1_" class="sugg-cls"></div> 
											</div>
										</div>
									
										<div class="col-md-4">
					                      <div class="form-group">
					                        <label>Related To</label>
					                        <div class="select" onkeyup='getNameLeadContactList()'> 
												<select id="relatedMeetingTo" onchange="checkMeetingDetails();"onblur="removeValid(event)">
														<option value="">Select Lead/Contact</option>
														<option value="Lead">Lead</option>
														<option value="Contact">Contact</option>
												</select>
											</div>
					                      </div>
					                    </div>
					                    
					                 <div class="col-md-4 leadNameCls" style="Display:none;">
											<div class="form-group">
													<label> Lead</label> <input type="text" id="leadName"
														placeholder="Lead Name" class="form-control"
														onkeyup='getNameLeadContactList()'>
														<input type="hidden" id="leadId"> 
												 <div id="suggesstion-boxLead_" class="sugg-cls"></div> 
											</div>
										</div>
										
										<div class="col-md-4 contactNameCls"  style="Display:none;">
											<div class="form-group">
													<label> Contact</label> <input type="text" id="contactName"
														placeholder="Contact Name" class="form-control"
														onkeyup='getNameLeadContactList()'>
														<input type="hidden" id="contactId"> 
												 <div id="suggesstion-boxContact_1" class="sugg-cls"></div> 
											</div>
										</div>
										
										
					                    
					                    <div class="col-md-4">
											<div class="form-group">
												<label>Meeting Status</label>
												<div class="select">
												<select id="meetingStatus" onblur="removeValid(event)">
														<option value="Scheduled">Scheduled</option>
													    <option value="Deferred">Deferred</option>
													    <option value="In Progress">In Progress</option>
													    <option value="Completed">Completed</option>
													    <option value="Waiting For Input">Waiting For Input</option>
																		
												</select>
											</div>
											</div>
										</div>
					                    
					                    <div class="col-md-4">
											<div class="form-group">
												<input type="checkbox" id="isRepeat"
													value="on"> <label>Repeat</label>
											</div>
										</div>
										
										</div>
										
										<div class="row" id="repeatOrNot">
					                <!--  style="display:none;" -->
										<div class="col-md-4">
											<div class="form-group">
												<input type="checkbox" id="isAllDayRepeat"
													value="on"onblur="removeValid(event)"> <label>All Day Repeat</label>
											</div>
										</div>
										
										
									<div class="col-md-4 reminderBtn">
										<label>Meeting Repeat From Date</label>
										<!-- <input type="text" id="meetingRepeatFromDate" class="form-control" readonly
											th:attr="onkeyup=|formatDate('meetingRepeatFromDate','${session.DATEFORMAT_JS}')|">
										<i class="ti-calendar picker_calendar5" id="meetingCalendarRepeatFromDate"></i> -->
										
										<input type="date" id="meetingRepeatFromDate" class="form-control">
									</div> 
									
									 <div class="col-md-4 reminderBtn">
										<label>Meeting Repeat From Time</label> 
										<!-- <input type="text"
											id="meetingRepeatFromTime" class="form-control" readonly
											th:attr="onkeyup=|formatDate('meetingRepeatFromTime','${session.DATEFORMAT_JS}')|">
										<i class="ti-calendar picker_calendar6" id="meetingCalendarRepeatFromTime"></i> -->
										
										<input type="time" id="meetingRepeatFromTime" class="form-control">
									</div>
										
										<div class="col-md-4">
											<div class="form-group">
												<label>Meeting Repeat To Date</label>
												<!-- <input type="text" id="meetingRepeatToDate" class="form-control" readonly
											th:attr="onkeyup=|formatDate('meetingRepeatToDate','${session.DATEFORMAT_JS}')|">
										<i class="ti-calendar picker_calendar7" id="meetingCalendarRepeatToDate"></i> -->
										
										<input type="date" id="meetingRepeatToDate" class="form-control">
											</div>
										</div>
										
										<div class="col-md-4">
											<label>Meeting Repeat To Time</label>
											<!-- <input type="text" id="meetingRepeatToTime" class="form-control" readonly
												th:attr="onkeyup=|formatDate('meetingRepeatToTime','${session.DATEFORMAT_JS}')|">
											<i class="ti-calendar picker_calendar8" id="meetingCalendarRepeatToTime"></i> -->
											
											<input type="time" id="meetingRepeatToTime" class="form-control">
										</div>
										
										<div class="col-md-4">
											<div class="form-group">
												<label>Repeat Type</label>
												<div class="select">
												<select id="repeatType">
														<option value="">Select Repeat Type</option>
														<option value="Daily">Daily</option>
													    <option value="Weekly">Weekly</option>
														<option value="Monthly">Monthly</option>
														<option value="Yearly">Yearly</option>
																		
												</select>
											</div>
											</div>
										</div>
										</div>						                    							
									<!-- </div> -->
									
								<!-- 	main div start here -->
									<div id="main">

										<!-- 	collapse for Contact InformationStart here -->
											<div class="accordion-item">
												<h2 class="accordion-header" id="headingOne">
													<button class="accordion-button" type="button"
														data-bs-toggle="collapse" data-bs-target="#collapseOne"
														aria-expanded="false" aria-controls="collapseOne">
														Description Information</button>
												</h2>
												<div id="collapseOne"
													class="accordion-collapse collapse show"
													aria-labelledby="headingOne"
													data-bs-parent="#accordionExample">
													<div class="accordion-body">
													<div class="row">
														
													<div class="row">
														<div class="col-md-8">
														<div class="modal-inrheading">Description</div>
														<div class="position-text">
															<textarea rows="4" cols="100" id="description"
																onkeyup="textCount(event)"></textarea>
															<div id="charNumSN" class="txtcounter" align="right">
																<span>0</span> characters
															</div>
														</div>
													</div>
													

													</div>
													
													</div>
			
													</div>
												</div>
											</div>
								
								
									<!-- 	sidenave for Marketing End here -->

									<!-- 	sidenave for Misc Start here -->


								</div>
						</div>
					</div>




					<!-- The Modal For Delete-->
					<div class="modal fade" id="delete">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">
										<i class="ti-close modal-close"></i>
									</button>
								</div>
								<div class="modal-body">
									<p>Do you really want to delete these records? This process
										cannot be undone.</p>
								</div>
								<div class="modal-footer justify-content-center">
									<button type="button" class="btn1" data-dismiss="modal"
										aria-hidden="true">Cancel</button>
									<button type="button" class="btn3" id="deleteModalBtn"
										onclick="deleteReq()">Delete</button>
								</div>
							</div>
						</div>
					</div>


					<!-- The Modal For Validation-->
					<div class="modal fade" id="reqValid">
						<div class="modal-dialog modal-confirm">
							<div class="modal-content">
								<div class="modal-header flex-column">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">
										<i class="ti-close modal-close"></i>
									</button>
								</div>
								<div class="modal-body">
									<p id="modalMsg"></p>
								</div>
								<div class="modal-footer justify-content-center">
									<button type="button" class="btn1" data-dismiss="modal"
										aria-hidden="true">Ok</button>
								</div>
							</div>
						</div>
					</div>
					
						<!-- ------------------Mark Lost modal------------------------- -->

					<div id="markLostModal" class="modal fade">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Lost Reason</h4>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<i class="ti-close"></i>
									</button>

								</div>
								<div class="modal-body">
									<!-- text input -->
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>Comment</label> <input class="form-control"
													type="text" id="comment">
											</div>
										</div>

									</div>
								</div>
								<div class="modal-footer justify-content-left">
									<button type="button" class="btn1" data-dismiss="modal"
										aria-hidden="true" id="SubmitBtn"
										onclick="rejectLeave()">Submit</button>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>